# Learning Spark

In [1]:
## downloaded everything another way then used the following cmd to find it
import findspark
findspark.init()
findspark.find()

'C:\\spark-3.3.0-bin-hadoop3'

In [2]:
import pyspark
import pandas as pd

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [4]:
spark

In [5]:
# localhost:4040 to bring up spark

In [6]:
df_pyspark = spark.read.csv(r"C:\Users\Abdulkadir\Documents\Programming\Personal\qa\Python\College.csv")

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string]

In [8]:
# print head(5)
df_pyspark.show(5)

+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+------+---------+
|                 _c0|    _c1| _c2|   _c3|   _c4|      _c5|      _c6|        _c7|        _c8|     _c9|      _c10| _c11|    _c12|_c13|    _c14|     _c15|       _c16|  _c17|     _c18|
+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+------+---------+
|                null|Private|Apps|Accept|Enroll|Top10perc|Top25perc|F.Undergrad|P.Undergrad|Outstate|Room.Board|Books|Personal| PhD|Terminal|S.F.Ratio|perc.alumni|Expend|Grad.Rate|
|Abilene Christian...|    Yes|1660|  1232|   721|       23|       52|       2885|        537|    7440|      3300|  450|    2200|  70|      78|     18.1|         12|  7041|       60|
|  Adelphi University|    Yes|2186|  1924|   512|       16|       29|       2683|       1227|   12280|      6450|  750|    1500|  29|      30|     12.2|         16| 10527|       56|
|      Adrian College|    Yes|1428|  1097|   336|       22|       50|       1036|         99|   11250|      3750|  400|    1165|  53|      66|     12.9|         30|  8735|       54|
| Agnes Scott College|    Yes| 417|   349|   137|       60|       89|        510|         63|   12960|      5450|  450|     875|  92|      97|      7.7|         37| 19016|       59|
+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+------+---------+
only showing top 5 rows

In [9]:
# to pandas makes it a pandas df
df_pyspark.toPandas().head()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18
0,None,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
1,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
2,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
3,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
4,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59

In [10]:
# header True to use header as header
new_df = spark.read.option('header', True).csv(r"C:\Users\Abdulkadir\Documents\Programming\Personal\qa\Python\College.csv")

In [11]:
# print df into pandas format
new_df.toPandas().head()

,_c0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [12]:
# rename column name
new_df = new_df.withColumnRenamed('_c0', 'University')

In [13]:
new_df

DataFrame[University: string, Private: string, Apps: string, Accept: string, Enroll: string, Top10perc: string, Top25perc: string, F.Undergrad: string, P.Undergrad: string, Outstate: string, Room.Board: string, Books: string, Personal: string, PhD: string, Terminal: string, S.F.Ratio: string, perc.alumni: string, Expend: string, Grad.Rate: string]

In [14]:
# shows columns and data type
new_df.printSchema()

root
 |-- University: string (nullable = true)
 |-- Private: string (nullable = true)
 |-- Apps: string (nullable = true)
 |-- Accept: string (nullable = true)
 |-- Enroll: string (nullable = true)
 |-- Top10perc: string (nullable = true)
 |-- Top25perc: string (nullable = true)
 |-- F.Undergrad: string (nullable = true)
 |-- P.Undergrad: string (nullable = true)
 |-- Outstate: string (nullable = true)
 |-- Room.Board: string (nullable = true)
 |-- Books: string (nullable = true)
 |-- Personal: string (nullable = true)
 |-- PhD: string (nullable = true)
 |-- Terminal: string (nullable = true)
 |-- S.F.Ratio: string (nullable = true)
 |-- perc.alumni: string (nullable = true)
 |-- Expend: string (nullable = true)
 |-- Grad.Rate: string (nullable = true)

In [15]:
# all variables are taken as string by default therefore gotta use infer schema
pyspark_df = spark.read.option('header', True).csv(r"C:\Users\Abdulkadir\Documents\Programming\Personal\qa\Python\College.csv", inferSchema=True)

In [16]:
pyspark_df = pyspark_df.withColumnRenamed('_c0', 'University')

In [17]:
pyspark_df.printSchema()

root
 |-- University: string (nullable = true)
 |-- Private: string (nullable = true)
 |-- Apps: integer (nullable = true)
 |-- Accept: integer (nullable = true)
 |-- Enroll: integer (nullable = true)
 |-- Top10perc: integer (nullable = true)
 |-- Top25perc: integer (nullable = true)
 |-- F.Undergrad: integer (nullable = true)
 |-- P.Undergrad: integer (nullable = true)
 |-- Outstate: integer (nullable = true)
 |-- Room.Board: integer (nullable = true)
 |-- Books: integer (nullable = true)
 |-- Personal: integer (nullable = true)
 |-- PhD: integer (nullable = true)
 |-- Terminal: integer (nullable = true)
 |-- S.F.Ratio: double (nullable = true)
 |-- perc.alumni: integer (nullable = true)
 |-- Expend: integer (nullable = true)
 |-- Grad.Rate: integer (nullable = true)

In [18]:
type(pyspark_df)

pyspark.sql.dataframe.DataFrame

In [19]:
# selecting columns and indexing
pyspark_df.columns

['University',
 'Private',
 'Apps',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 'F.Undergrad',
 'P.Undergrad',
 'Outstate',
 'Room.Board',
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 'S.F.Ratio',
 'perc.alumni',
 'Expend',
 'Grad.Rate']

In [20]:
pyspark_df.head(2)

[Row(University='Abilene Christian University', Private='Yes', Apps=1660, Accept=1232, Enroll=721, Top10perc=23, Top25perc=52, F.Undergrad=2885, P.Undergrad=537, Outstate=7440, Room.Board=3300, Books=450, Personal=2200, PhD=70, Terminal=78, S.F.Ratio=18.1, perc.alumni=12, Expend=7041, Grad.Rate=60),
 Row(University='Adelphi University', Private='Yes', Apps=2186, Accept=1924, Enroll=512, Top10perc=16, Top25perc=29, F.Undergrad=2683, P.Undergrad=1227, Outstate=12280, Room.Board=6450, Books=750, Personal=1500, PhD=29, Terminal=30, S.F.Ratio=12.2, perc.alumni=16, Expend=10527, Grad.Rate=56)]

In [21]:
pyspark_df.select('University').show()

+--------------------+
|          University|
+--------------------+
|Abilene Christian...|
|  Adelphi University|
|      Adrian College|
| Agnes Scott College|
|Alaska Pacific Un...|
|   Albertson College|
|Albertus Magnus C...|
|      Albion College|
|    Albright College|
|Alderson-Broaddus...|
|   Alfred University|
|   Allegheny College|
|Allentown Coll. o...|
|        Alma College|
|     Alverno College|
|American Internat...|
|     Amherst College|
| Anderson University|
|  Andrews University|
|Angelo State Univ...|
+--------------------+
only showing top 20 rows

In [22]:
pyspark_df.select(['University', 'Accept', 'Enroll']).show()

+--------------------+------+------+
|          University|Accept|Enroll|
+--------------------+------+------+
|Abilene Christian...|  1232|   721|
|  Adelphi University|  1924|   512|
|      Adrian College|  1097|   336|
| Agnes Scott College|   349|   137|
|Alaska Pacific Un...|   146|    55|
|   Albertson College|   479|   158|
|Albertus Magnus C...|   340|   103|
|      Albion College|  1720|   489|
|    Albright College|   839|   227|
|Alderson-Broaddus...|   498|   172|
|   Alfred University|  1425|   472|
|   Allegheny College|  1900|   484|
|Allentown Coll. o...|   780|   290|
|        Alma College|  1080|   385|
|     Alverno College|   313|   157|
|American Internat...|  1093|   220|
|     Amherst College|   992|   418|
| Anderson University|   908|   423|
|  Andrews University|   704|   322|
|Angelo State Univ...|  2001|  1016|
+--------------------+------+------+
only showing top 20 rows

In [23]:
pyspark_df['Accept'], pyspark_df['Enroll'], pyspark_df[['Accept', 'Enroll']]

(Column<'Accept'>, Column<'Enroll'>, DataFrame[Accept: int, Enroll: int])

In [24]:
pyspark_df.dtypes

[('University', 'string'),
 ('Private', 'string'),
 ('Apps', 'int'),
 ('Accept', 'int'),
 ('Enroll', 'int'),
 ('Top10perc', 'int'),
 ('Top25perc', 'int'),
 ('F.Undergrad', 'int'),
 ('P.Undergrad', 'int'),
 ('Outstate', 'int'),
 ('Room.Board', 'int'),
 ('Books', 'int'),
 ('Personal', 'int'),
 ('PhD', 'int'),
 ('Terminal', 'int'),
 ('S.F.Ratio', 'double'),
 ('perc.alumni', 'int'),
 ('Expend', 'int'),
 ('Grad.Rate', 'int')]

In [25]:
pyspark_df.describe()

DataFrame[summary: string, University: string, Private: string, Apps: string, Accept: string, Enroll: string, Top10perc: string, Top25perc: string, F.Undergrad: string, P.Undergrad: string, Outstate: string, Room.Board: string, Books: string, Personal: string, PhD: string, Terminal: string, S.F.Ratio: string, perc.alumni: string, Expend: string, Grad.Rate: string]

In [26]:
pyspark_df.columns

['University',
 'Private',
 'Apps',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 'F.Undergrad',
 'P.Undergrad',
 'Outstate',
 'Room.Board',
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 'S.F.Ratio',
 'perc.alumni',
 'Expend',
 'Grad.Rate']

In [27]:
pyspark_df.select(['University', 'Accept', 'Enroll']).describe().show()

+-------+--------------------+------------------+----------------+
|summary|          University|            Accept|          Enroll|
+-------+--------------------+------------------+----------------+
|  count|                 777|               777|             777|
|   mean|                null|2018.8043758043757|779.972972972973|
| stddev|                null|  2451.11397099263| 929.17619013287|
|    min|Abilene Christian...|                72|              35|
|    max|York College of P...|             26330|            6392|
+-------+--------------------+------------------+----------------+

In [28]:
pyspark_df.describe().show()

+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+
|summary|          University|Private|              Apps|            Accept|          Enroll|         Top10perc|         Top25perc|      F.Undergrad|      P.Undergrad|          Outstate|        Room.Board|             Books|          Personal|               PhD|          Terminal|         S.F.Ratio|       perc.alumni|          Expend|         Grad.Rate|
+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+
|  count|                 777|    777|               777|               777|             777|               777|               777|              777|              777|               777|               777|               777|               777|               777|               777|               777|               777|             777|               777|
|   mean|                null|   null|3001.6383526383524|2018.8043758043757|779.972972972973| 27.55855855855856|  55.7966537966538|3699.907335907336|855.2985842985843| 10440.66924066924| 4357.526383526383| 549.3809523809524|1340.6422136422136| 72.66023166023166| 79.70270270270271|14.089703989703986|22.743886743886744|9660.17117117117| 65.46332046332046|
| stddev|                null|   null|3870.2014844352884|  2451.11397099263| 929.17619013287|17.640364385452134|19.804777595131373|4850.420530887386|1522.431887295513|4023.0164841119727|1096.6964155935289|165.10536013709253|  677.071453590578|16.328154687939314|14.722358527903374|3.9583491352055478| 12.39180148937615|5221.76843985609|17.177709897155403|
|    min|Abilene Christian...|     No|                81|                72|              35|                 1|                 9|              139|                1|              2340|              1780|                96|               250|                 8|                24|               2.5|                 0|            3186|                10|
|    max|York College of P...|    Yes|             48094|             26330|            6392|                96|               100|            31643|            21836|             21700|              8124|              2340|              6800|               103|               100|              39.8|                64|           56233|               118|
+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+

In [29]:
# easier to see
pyspark_df.describe().toPandas()

,summary,University,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,count,777,777,777,777,777,777,777,777,777,777,777,777,777,777,777,777,777,777,777
1,mean,None,None,3001.6383526383524,2018.8043758043757,779.972972972973,27.55855855855856,55.7966537966538,3699.907335907336,855.2985842985843,10440.66924066924,4357.526383526383,549.3809523809524,1340.6422136422136,72.66023166023166,79.70270270270271,14.089703989703986,22.743886743886744,9660.17117117117,65.46332046332046
2,stddev,None,None,3870.2014844352884,2451.11397099263,929.17619013287,17.640364385452134,19.804777595131373,4850.420530887386,1522.431887295513,4023.0164841119727,1096.6964155935289,165.10536013709253,677.071453590578,16.328154687939314,14.722358527903374,3.9583491352055478,12.39180148937615,5221.76843985609,17.177709897155403
3,min,Abilene Christian University,No,81,72,35,1,9,139,1,2340,1780,96,250,8,24,2.5,0,3186,10
4,max,York College of Pennsylvania,Yes,48094,26330,6392,96,100,31643,21836,21700,8124,2340,6800,103,100,39.8,64,56233,118

In [30]:
# Adding columns in df: total undergrads
pyspark_df = pyspark_df.withColumn('T.Undergrad', pyspark_df["`P.Undergrad`"] + pyspark_df["`P.Undergrad`"])

In [31]:
pyspark_df.columns

['University',
 'Private',
 'Apps',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 'F.Undergrad',
 'P.Undergrad',
 'Outstate',
 'Room.Board',
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 'S.F.Ratio',
 'perc.alumni',
 'Expend',
 'Grad.Rate',
 'T.Undergrad']

In [32]:
pyspark_df.select(["`T.Undergrad`"]).show()

+-----------+
|T.Undergrad|
+-----------+
|       1074|
|       2454|
|        198|
|        126|
|       1738|
|         82|
|        460|
|         64|
|        612|
|        156|
|        220|
|         88|
|       1276|
|         56|
|       2470|
|        574|
|         10|
|        562|
|        652|
|       3024|
+-----------+
only showing top 20 rows

In [33]:
# drop columns
pyspark_df = pyspark_df.drop('T.Undergrad')

In [34]:
pyspark_df.columns

['University',
 'Private',
 'Apps',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 'F.Undergrad',
 'P.Undergrad',
 'Outstate',
 'Room.Board',
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 'S.F.Ratio',
 'perc.alumni',
 'Expend',
 'Grad.Rate']

In [35]:
df = spark.read.csv(r"C:\Users\Abdulkadir\Documents\Programming\Personal\DataScience\pokemon_data.csv", header=True, inferSchema=True)

In [36]:
df.show()

+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  #|                Name|Type 1|Type 2| HP|Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  1|           Bulbasaur| Grass|Poison| 45|    49|     49|     65|     65|   45|         1|    false|
|  2|             Ivysaur| Grass|Poison| 60|    62|     63|     80|     80|   60|         1|    false|
|  3|            Venusaur| Grass|Poison| 80|    82|     83|    100|    100|   80|         1|    false|
|  3|VenusaurMega Venu...| Grass|Poison| 80|   100|    123|    122|    120|   80|         1|    false|
|  4|          Charmander|  Fire|  null| 39|    52|     43|     60|     50|   65|         1|    false|
|  5|          Charmeleon|  Fire|  null| 58|    64|     58|     80|     65|   80|         1|    false|
|  6|           Charizard|  Fire|Flying| 78|    84|     78|    109|     85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|Dragon| 78|   130|    111|    130|     85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|Flying| 78|   104|     78|    159|    115|  100|         1|    false|
|  7|            Squirtle| Water|  null| 44|    48|     65|     50|     64|   43|         1|    false|
|  8|           Wartortle| Water|  null| 59|    63|     80|     65|     80|   58|         1|    false|
|  9|           Blastoise| Water|  null| 79|    83|    100|     85|    105|   78|         1|    false|
|  9|BlastoiseMega Bla...| Water|  null| 79|   103|    120|    135|    115|   78|         1|    false|
| 10|            Caterpie|   Bug|  null| 45|    30|     35|     20|     20|   45|         1|    false|
| 11|             Metapod|   Bug|  null| 50|    20|     55|     25|     25|   30|         1|    false|
| 12|          Butterfree|   Bug|Flying| 60|    45|     50|     90|     80|   70|         1|    false|
| 13|              Weedle|   Bug|Poison| 40|    35|     30|     20|     20|   50|         1|    false|
| 14|              Kakuna|   Bug|Poison| 45|    25|     50|     25|     25|   35|         1|    false|
| 15|            Beedrill|   Bug|Poison| 65|    90|     40|     45|     80|   75|         1|    false|
| 15|BeedrillMega Beed...|   Bug|Poison| 65|   150|     40|     15|     80|  145|         1|    false|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
only showing top 20 rows

In [37]:
# column name was creating problems with drop na
df = df.withColumnRenamed("Sp. Atk", 'SpAtk') \
.withColumnRenamed("Sp. Def", 'SpDef')

In [38]:
df.show()

+---+--------------------+------+------+---+------+-------+-----+-----+-----+----------+---------+
|  #|                Name|Type 1|Type 2| HP|Attack|Defense|SpAtk|SpDef|Speed|Generation|Legendary|
+---+--------------------+------+------+---+------+-------+-----+-----+-----+----------+---------+
|  1|           Bulbasaur| Grass|Poison| 45|    49|     49|   65|   65|   45|         1|    false|
|  2|             Ivysaur| Grass|Poison| 60|    62|     63|   80|   80|   60|         1|    false|
|  3|            Venusaur| Grass|Poison| 80|    82|     83|  100|  100|   80|         1|    false|
|  3|VenusaurMega Venu...| Grass|Poison| 80|   100|    123|  122|  120|   80|         1|    false|
|  4|          Charmander|  Fire|  null| 39|    52|     43|   60|   50|   65|         1|    false|
|  5|          Charmeleon|  Fire|  null| 58|    64|     58|   80|   65|   80|         1|    false|
|  6|           Charizard|  Fire|Flying| 78|    84|     78|  109|   85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|Dragon| 78|   130|    111|  130|   85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|Flying| 78|   104|     78|  159|  115|  100|         1|    false|
|  7|            Squirtle| Water|  null| 44|    48|     65|   50|   64|   43|         1|    false|
|  8|           Wartortle| Water|  null| 59|    63|     80|   65|   80|   58|         1|    false|
|  9|           Blastoise| Water|  null| 79|    83|    100|   85|  105|   78|         1|    false|
|  9|BlastoiseMega Bla...| Water|  null| 79|   103|    120|  135|  115|   78|         1|    false|
| 10|            Caterpie|   Bug|  null| 45|    30|     35|   20|   20|   45|         1|    false|
| 11|             Metapod|   Bug|  null| 50|    20|     55|   25|   25|   30|         1|    false|
| 12|          Butterfree|   Bug|Flying| 60|    45|     50|   90|   80|   70|         1|    false|
| 13|              Weedle|   Bug|Poison| 40|    35|     30|   20|   20|   50|         1|    false|
| 14|              Kakuna|   Bug|Poison| 45|    25|     50|   25|   25|   35|         1|    false|
| 15|            Beedrill|   Bug|Poison| 65|    90|     40|   45|   80|   75|         1|    false|
| 15|BeedrillMega Beed...|   Bug|Poison| 65|   150|     40|   15|   80|  145|         1|    false|
+---+--------------------+------+------+---+------+-------+-----+-----+-----+----------+---------+
only showing top 20 rows

In [39]:
# drop null values
df.na.drop().show()

+---+--------------------+------+------+---+------+-------+-----+-----+-----+----------+---------+
|  #|                Name|Type 1|Type 2| HP|Attack|Defense|SpAtk|SpDef|Speed|Generation|Legendary|
+---+--------------------+------+------+---+------+-------+-----+-----+-----+----------+---------+
|  1|           Bulbasaur| Grass|Poison| 45|    49|     49|   65|   65|   45|         1|    false|
|  2|             Ivysaur| Grass|Poison| 60|    62|     63|   80|   80|   60|         1|    false|
|  3|            Venusaur| Grass|Poison| 80|    82|     83|  100|  100|   80|         1|    false|
|  3|VenusaurMega Venu...| Grass|Poison| 80|   100|    123|  122|  120|   80|         1|    false|
|  6|           Charizard|  Fire|Flying| 78|    84|     78|  109|   85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|Dragon| 78|   130|    111|  130|   85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|Flying| 78|   104|     78|  159|  115|  100|         1|    false|
| 12|          Butterfree|   Bug|Flying| 60|    45|     50|   90|   80|   70|         1|    false|
| 13|              Weedle|   Bug|Poison| 40|    35|     30|   20|   20|   50|         1|    false|
| 14|              Kakuna|   Bug|Poison| 45|    25|     50|   25|   25|   35|         1|    false|
| 15|            Beedrill|   Bug|Poison| 65|    90|     40|   45|   80|   75|         1|    false|
| 15|BeedrillMega Beed...|   Bug|Poison| 65|   150|     40|   15|   80|  145|         1|    false|
| 16|              Pidgey|Normal|Flying| 40|    45|     40|   35|   35|   56|         1|    false|
| 17|           Pidgeotto|Normal|Flying| 63|    60|     55|   50|   50|   71|         1|    false|
| 18|             Pidgeot|Normal|Flying| 83|    80|     75|   70|   70|  101|         1|    false|
| 18| PidgeotMega Pidgeot|Normal|Flying| 83|    80|     80|  135|   80|  121|         1|    false|
| 21|             Spearow|Normal|Flying| 40|    60|     30|   31|   31|   70|         1|    false|
| 22|              Fearow|Normal|Flying| 65|    90|     65|   61|   61|  100|         1|    false|
| 31|           Nidoqueen|Poison|Ground| 90|    92|     87|   75|   85|   76|         1|    false|
| 34|            Nidoking|Poison|Ground| 81|   102|     77|   85|   75|   85|         1|    false|
+---+--------------------+------+------+---+------+-------+-----+-----+-----+----------+---------+
only showing top 20 rows

In [40]:
df.count(), df.na.drop().count()

(800, 414)

In [41]:
df.count()

800

In [42]:
df.na.fill('missing values').show()

+---+--------------------+------+--------------+---+------+-------+-----+-----+-----+----------+---------+
|  #|                Name|Type 1|        Type 2| HP|Attack|Defense|SpAtk|SpDef|Speed|Generation|Legendary|
+---+--------------------+------+--------------+---+------+-------+-----+-----+-----+----------+---------+
|  1|           Bulbasaur| Grass|        Poison| 45|    49|     49|   65|   65|   45|         1|    false|
|  2|             Ivysaur| Grass|        Poison| 60|    62|     63|   80|   80|   60|         1|    false|
|  3|            Venusaur| Grass|        Poison| 80|    82|     83|  100|  100|   80|         1|    false|
|  3|VenusaurMega Venu...| Grass|        Poison| 80|   100|    123|  122|  120|   80|         1|    false|
|  4|          Charmander|  Fire|missing values| 39|    52|     43|   60|   50|   65|         1|    false|
|  5|          Charmeleon|  Fire|missing values| 58|    64|     58|   80|   65|   80|         1|    false|
|  6|           Charizard|  Fire|        Flying| 78|    84|     78|  109|   85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|        Dragon| 78|   130|    111|  130|   85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|        Flying| 78|   104|     78|  159|  115|  100|         1|    false|
|  7|            Squirtle| Water|missing values| 44|    48|     65|   50|   64|   43|         1|    false|
|  8|           Wartortle| Water|missing values| 59|    63|     80|   65|   80|   58|         1|    false|
|  9|           Blastoise| Water|missing values| 79|    83|    100|   85|  105|   78|         1|    false|
|  9|BlastoiseMega Bla...| Water|missing values| 79|   103|    120|  135|  115|   78|         1|    false|
| 10|            Caterpie|   Bug|missing values| 45|    30|     35|   20|   20|   45|         1|    false|
| 11|             Metapod|   Bug|missing values| 50|    20|     55|   25|   25|   30|         1|    false|
| 12|          Butterfree|   Bug|        Flying| 60|    45|     50|   90|   80|   70|         1|    false|
| 13|              Weedle|   Bug|        Poison| 40|    35|     30|   20|   20|   50|         1|    false|
| 14|              Kakuna|   Bug|        Poison| 45|    25|     50|   25|   25|   35|         1|    false|
| 15|            Beedrill|   Bug|        Poison| 65|    90|     40|   45|   80|   75|         1|    false|
| 15|BeedrillMega Beed...|   Bug|        Poison| 65|   150|     40|   15|   80|  145|         1|    false|
+---+--------------------+------+--------------+---+------+-------+-----+-----+-----+----------+---------+
only showing top 20 rows

In [43]:
df.na.fill('missing values', subset=['Type 2']).show()

+---+--------------------+------+--------------+---+------+-------+-----+-----+-----+----------+---------+
|  #|                Name|Type 1|        Type 2| HP|Attack|Defense|SpAtk|SpDef|Speed|Generation|Legendary|
+---+--------------------+------+--------------+---+------+-------+-----+-----+-----+----------+---------+
|  1|           Bulbasaur| Grass|        Poison| 45|    49|     49|   65|   65|   45|         1|    false|
|  2|             Ivysaur| Grass|        Poison| 60|    62|     63|   80|   80|   60|         1|    false|
|  3|            Venusaur| Grass|        Poison| 80|    82|     83|  100|  100|   80|         1|    false|
|  3|VenusaurMega Venu...| Grass|        Poison| 80|   100|    123|  122|  120|   80|         1|    false|
|  4|          Charmander|  Fire|missing values| 39|    52|     43|   60|   50|   65|         1|    false|
|  5|          Charmeleon|  Fire|missing values| 58|    64|     58|   80|   65|   80|         1|    false|
|  6|           Charizard|  Fire|        Flying| 78|    84|     78|  109|   85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|        Dragon| 78|   130|    111|  130|   85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|        Flying| 78|   104|     78|  159|  115|  100|         1|    false|
|  7|            Squirtle| Water|missing values| 44|    48|     65|   50|   64|   43|         1|    false|
|  8|           Wartortle| Water|missing values| 59|    63|     80|   65|   80|   58|         1|    false|
|  9|           Blastoise| Water|missing values| 79|    83|    100|   85|  105|   78|         1|    false|
|  9|BlastoiseMega Bla...| Water|missing values| 79|   103|    120|  135|  115|   78|         1|    false|
| 10|            Caterpie|   Bug|missing values| 45|    30|     35|   20|   20|   45|         1|    false|
| 11|             Metapod|   Bug|missing values| 50|    20|     55|   25|   25|   30|         1|    false|
| 12|          Butterfree|   Bug|        Flying| 60|    45|     50|   90|   80|   70|         1|    false|
| 13|              Weedle|   Bug|        Poison| 40|    35|     30|   20|   20|   50|         1|    false|
| 14|              Kakuna|   Bug|        Poison| 45|    25|     50|   25|   25|   35|         1|    false|
| 15|            Beedrill|   Bug|        Poison| 65|    90|     40|   45|   80|   75|         1|    false|
| 15|BeedrillMega Beed...|   Bug|        Poison| 65|   150|     40|   15|   80|  145|         1|    false|
+---+--------------------+------+--------------+---+------+-------+-----+-----+-----+----------+---------+
only showing top 20 rows

In [44]:
df = spark.read.csv(r"C:\Users\Abdulkadir\Documents\Programming\Personal\qa\Python\loan_data.csv", header=True, inferSchema=True)

In [45]:
df.show()

+---+-------+----------+-------+------+-----+-------+
| ID| Income|      Term|Balance|  Debt|Score|Default|
+---+-------+----------+-------+------+-----+-------+
|567|17500.0|Short Term| 1460.0| 272.0|225.0|  false|
|523|18500.0| Long Term|  890.0| 970.0|187.0|  false|
|544|20700.0|Short Term|  880.0| 884.0| 85.0|  false|
|370|21600.0|Short Term|  920.0|   0.0| null|  false|
|756|24300.0|Short Term| 1260.0|   0.0|495.0|  false|
|929|22900.0| Long Term| 1540.0|1229.0|383.0|  false|
|373|20400.0|Short Term| 1200.0|   0.0|556.0|  false|
|818|24600.0|Short Term| 1470.0|   0.0|301.0|  false|
|284|26500.0| Long Term|  720.0|1866.0|243.0|  false|
|621|25400.0|Short Term| 1130.0|   0.0|729.0|   true|
|404|19700.0|Short Term|  910.0|   0.0|186.0|  false|
|763|20600.0|Short Term|  820.0|1218.0|136.0|  false|
|327|19300.0| Long Term| 1300.0|   0.0|422.0|  false|
|664|23700.0|Short Term| 1060.0| 801.0|240.0|  false|
|590|18800.0|Short Term|  970.0|1542.0| 59.0|   true|
| 24|23200.0|Short Term|  610.0|   0.0|325.0|  false|
|931|18100.0|Short Term| 1020.0|2133.0| 34.0|   true|
|400|18400.0|Short Term|  940.0| 892.0|195.0|   true|
|905|17200.0|Short Term| 1140.0| 855.0|128.0|  false|
|556|20200.0|Short Term|  810.0|   0.0|399.0|  false|
+---+-------+----------+-------+------+-----+-------+
only showing top 20 rows

In [46]:
df.dtypes

[('ID', 'int'),
 ('Income', 'double'),
 ('Term', 'string'),
 ('Balance', 'double'),
 ('Debt', 'double'),
 ('Score', 'double'),
 ('Default', 'boolean')]

In [47]:
df.count(), df.na.drop().count()

(856, 836)

In [48]:
df.toPandas().isnull().sum()

ID          0
Income      0
Term        0
Balance     0
Debt        0
Score      20
Default     0
dtype: int64

In [49]:
# filling in values
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Score'],
    outputCols=[f'{format(c)}_imputed' for c in ['Score']]
).setStrategy('mean')

In [54]:
view = imputer.fit(df).transform(df).show()

+---+-------+----------+-------+------+-----+-------+------------------+
| ID| Income|      Term|Balance|  Debt|Score|Default|     Score_imputed|
+---+-------+----------+-------+------+-----+-------+------------------+
|567|17500.0|Short Term| 1460.0| 272.0|225.0|  false|             225.0|
|523|18500.0| Long Term|  890.0| 970.0|187.0|  false|             187.0|
|544|20700.0|Short Term|  880.0| 884.0| 85.0|  false|              85.0|
|370|21600.0|Short Term|  920.0|   0.0| null|  false|450.92224880382776|
|756|24300.0|Short Term| 1260.0|   0.0|495.0|  false|             495.0|
|929|22900.0| Long Term| 1540.0|1229.0|383.0|  false|             383.0|
|373|20400.0|Short Term| 1200.0|   0.0|556.0|  false|             556.0|
|818|24600.0|Short Term| 1470.0|   0.0|301.0|  false|             301.0|
|284|26500.0| Long Term|  720.0|1866.0|243.0|  false|             243.0|
|621|25400.0|Short Term| 1130.0|   0.0|729.0|   true|             729.0|
|404|19700.0|Short Term|  910.0|   0.0|186.0|  false|             186.0|
|763|20600.0|Short Term|  820.0|1218.0|136.0|  false|             136.0|
|327|19300.0| Long Term| 1300.0|   0.0|422.0|  false|             422.0|
|664|23700.0|Short Term| 1060.0| 801.0|240.0|  false|             240.0|
|590|18800.0|Short Term|  970.0|1542.0| 59.0|   true|              59.0|
| 24|23200.0|Short Term|  610.0|   0.0|325.0|  false|             325.0|
|931|18100.0|Short Term| 1020.0|2133.0| 34.0|   true|              34.0|
|400|18400.0|Short Term|  940.0| 892.0|195.0|   true|             195.0|
|905|17200.0|Short Term| 1140.0| 855.0|128.0|  false|             128.0|
|556|20200.0|Short Term|  810.0|   0.0|399.0|  false|             399.0|
+---+-------+----------+-------+------+-----+-------+------------------+
only showing top 20 rows

In [55]:
type(view)

NoneType

In [51]:
type(df)

pyspark.sql.dataframe.DataFrame

In [52]:
#filtering

In [57]:
df.filter('Balance<=400').show()

+---+-------+----------+-------+------+-----+-------+
| ID| Income|      Term|Balance|  Debt|Score|Default|
+---+-------+----------+-------+------+-----+-------+
|900|18700.0|Short Term|  390.0|   0.0|349.0|  false|
|800|19000.0| Long Term|  140.0|1185.0|125.0|  false|
|665|15100.0|Short Term|  390.0| 617.0|152.0|  false|
|252|17000.0|Short Term|  360.0|1537.0| 49.0|   true|
|678|21200.0|Short Term|  360.0| 575.0|250.0|  false|
+---+-------+----------+-------+------+-----+-------+

In [59]:
df.filter((df['Balance'] < 900) & (df['Debt'] > 300)).show()

+---+-------+----------+-------+------+-----+-------+
| ID| Income|      Term|Balance|  Debt|Score|Default|
+---+-------+----------+-------+------+-----+-------+
|523|18500.0| Long Term|  890.0| 970.0|187.0|  false|
|544|20700.0|Short Term|  880.0| 884.0| 85.0|  false|
|284|26500.0| Long Term|  720.0|1866.0|243.0|  false|
|763|20600.0|Short Term|  820.0|1218.0|136.0|  false|
|422|21200.0|Short Term|  730.0| 975.0| 88.0|  false|
| 73|16400.0|Short Term|  780.0|1076.0|145.0|  false|
|606|18800.0|Short Term|  800.0| 324.0|347.0|  false|
|716|19800.0|Short Term|  800.0| 843.0|243.0|  false|
|158|23700.0|Short Term|  880.0| 703.0|316.0|   true|
|782|19000.0|Short Term|  640.0| 449.0|201.0|  false|
|566|21300.0|Short Term|  830.0| 793.0|237.0|  false|
|301|18600.0|Short Term|  520.0| 500.0|268.0|  false|
|643|21300.0|Short Term|  680.0| 364.0| null|  false|
|767|20600.0|Short Term|  630.0| 758.0|265.0|  false|
|361|24400.0|Short Term|  750.0|2573.0| 71.0|   true|
|979|19800.0|Short Term|  830.0|1172.0|215.0|  false|
|103|19500.0|Short Term|  630.0| 416.0|280.0|  false|
|741|20000.0|Short Term|  690.0|1378.0|141.0|  false|
|944|22300.0|Short Term|  700.0|1388.0|198.0|  false|
|630|22500.0|Short Term|  830.0|1027.0|145.0|  false|
+---+-------+----------+-------+------+-----+-------+
only showing top 20 rows

In [60]:
# groupby and agg
df.show()

+---+-------+----------+-------+------+-----+-------+
| ID| Income|      Term|Balance|  Debt|Score|Default|
+---+-------+----------+-------+------+-----+-------+
|567|17500.0|Short Term| 1460.0| 272.0|225.0|  false|
|523|18500.0| Long Term|  890.0| 970.0|187.0|  false|
|544|20700.0|Short Term|  880.0| 884.0| 85.0|  false|
|370|21600.0|Short Term|  920.0|   0.0| null|  false|
|756|24300.0|Short Term| 1260.0|   0.0|495.0|  false|
|929|22900.0| Long Term| 1540.0|1229.0|383.0|  false|
|373|20400.0|Short Term| 1200.0|   0.0|556.0|  false|
|818|24600.0|Short Term| 1470.0|   0.0|301.0|  false|
|284|26500.0| Long Term|  720.0|1866.0|243.0|  false|
|621|25400.0|Short Term| 1130.0|   0.0|729.0|   true|
|404|19700.0|Short Term|  910.0|   0.0|186.0|  false|
|763|20600.0|Short Term|  820.0|1218.0|136.0|  false|
|327|19300.0| Long Term| 1300.0|   0.0|422.0|  false|
|664|23700.0|Short Term| 1060.0| 801.0|240.0|  false|
|590|18800.0|Short Term|  970.0|1542.0| 59.0|   true|
| 24|23200.0|Short Term|  610.0|   0.0|325.0|  false|
|931|18100.0|Short Term| 1020.0|2133.0| 34.0|   true|
|400|18400.0|Short Term|  940.0| 892.0|195.0|   true|
|905|17200.0|Short Term| 1140.0| 855.0|128.0|  false|
|556|20200.0|Short Term|  810.0|   0.0|399.0|  false|
+---+-------+----------+-------+------+-----+-------+
only showing top 20 rows

In [64]:
df.groupBy('Term').agg({'Balance':'mean', 'Income':'max'}).show()

+----------+-----------+------------------+
|      Term|max(Income)|      avg(Balance)|
+----------+-----------+------------------+
| Long Term|    81900.0|1334.0808823529412|
|Short Term|    86000.0|1158.5616438356165|
+----------+-----------+------------------+

In [63]:
df.groupBy('Term').mean().show()

+----------+------------------+------------------+------------------+-----------------+-----------------+
|      Term|           avg(ID)|       avg(Income)|      avg(Balance)|        avg(Debt)|       avg(Score)|
+----------+------------------+------------------+------------------+-----------------+-----------------+
| Long Term|508.91911764705884|34416.544117647056|1334.0808823529412|715.8235294117648|538.0037313432836|
|Short Term|  491.166095890411|27770.034246575342|1158.5616438356165|610.2328767123288|409.8345070422535|
+----------+------------------+------------------+------------------+-----------------+-----------------+

## ML

In [73]:
#machine learning
train = spark.read.csv(r"C:\Users\Abdulkadir\Documents\Programming\Personal\DataScience\mobile phone classification\train.csv", header=True, inferSchema=True)
test = spark.read.csv(r"C:\Users\Abdulkadir\Documents\Programming\Personal\DataScience\mobile phone classification\test.csv", header=True, inferSchema=True)

In [77]:
train.printSchema()

root
 |-- battery_power: integer (nullable = true)
 |-- blue: integer (nullable = true)
 |-- clock_speed: double (nullable = true)
 |-- dual_sim: integer (nullable = true)
 |-- fc: integer (nullable = true)
 |-- four_g: integer (nullable = true)
 |-- int_memory: integer (nullable = true)
 |-- m_dep: double (nullable = true)
 |-- mobile_wt: integer (nullable = true)
 |-- n_cores: integer (nullable = true)
 |-- pc: integer (nullable = true)
 |-- px_height: integer (nullable = true)
 |-- px_width: integer (nullable = true)
 |-- ram: integer (nullable = true)
 |-- sc_h: integer (nullable = true)
 |-- sc_w: integer (nullable = true)
 |-- talk_time: integer (nullable = true)
 |-- three_g: integer (nullable = true)
 |-- touch_screen: integer (nullable = true)
 |-- wifi: integer (nullable = true)
 |-- price_range: integer (nullable = true)

In [78]:
test.printSchema()

root
 |-- id: integer (nullable = true)
 |-- battery_power: integer (nullable = true)
 |-- blue: integer (nullable = true)
 |-- clock_speed: double (nullable = true)
 |-- dual_sim: integer (nullable = true)
 |-- fc: integer (nullable = true)
 |-- four_g: integer (nullable = true)
 |-- int_memory: integer (nullable = true)
 |-- m_dep: double (nullable = true)
 |-- mobile_wt: integer (nullable = true)
 |-- n_cores: integer (nullable = true)
 |-- pc: integer (nullable = true)
 |-- px_height: integer (nullable = true)
 |-- px_width: integer (nullable = true)
 |-- ram: integer (nullable = true)
 |-- sc_h: integer (nullable = true)
 |-- sc_w: integer (nullable = true)
 |-- talk_time: integer (nullable = true)
 |-- three_g: integer (nullable = true)
 |-- touch_screen: integer (nullable = true)
 |-- wifi: integer (nullable = true)

In [84]:
train.count(), len(train.columns), test.count(), len(test.columns)

(2000, 21, 1000, 21)

In [82]:
train.toPandas().head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [85]:
test.toPandas().head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1

In [91]:
train.columns[:-1]

['battery_power',
 'blue',
 'clock_speed',
 'dual_sim',
 'fc',
 'four_g',
 'int_memory',
 'm_dep',
 'mobile_wt',
 'n_cores',
 'pc',
 'px_height',
 'px_width',
 'ram',
 'sc_h',
 'sc_w',
 'talk_time',
 'three_g',
 'touch_screen',
 'wifi']

In [93]:
from pyspark.ml.feature import VectorAssembler # groups features into one features
featureAssembler = VectorAssembler(inputCols=train.columns[:-1], outputCol='Features')

In [96]:
output = featureAssembler.transform(train)

In [100]:
output.toPandas().columns 
# has added a new column to the df s 'features' which is the combination of all features

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range', 'Features'],
      dtype='object')

In [103]:
output.toPandas().head(1)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,Features
0,842,0,2.2,0,1,0,7,0.6,188,2,...,756,2549,9,7,19,0,0,1,1,"[842.0, 0.0, 2.2, 0.0, 1.0, 0.0, 7.0, 0.6, 188..."

In [105]:
# the label is simply price_range and the features is the column called features
output.printSchema()

root
 |-- battery_power: integer (nullable = true)
 |-- blue: integer (nullable = true)
 |-- clock_speed: double (nullable = true)
 |-- dual_sim: integer (nullable = true)
 |-- fc: integer (nullable = true)
 |-- four_g: integer (nullable = true)
 |-- int_memory: integer (nullable = true)
 |-- m_dep: double (nullable = true)
 |-- mobile_wt: integer (nullable = true)
 |-- n_cores: integer (nullable = true)
 |-- pc: integer (nullable = true)
 |-- px_height: integer (nullable = true)
 |-- px_width: integer (nullable = true)
 |-- ram: integer (nullable = true)
 |-- sc_h: integer (nullable = true)
 |-- sc_w: integer (nullable = true)
 |-- talk_time: integer (nullable = true)
 |-- three_g: integer (nullable = true)
 |-- touch_screen: integer (nullable = true)
 |-- wifi: integer (nullable = true)
 |-- price_range: integer (nullable = true)
 |-- Features: vector (nullable = true)

In [106]:
training_df = output.select(['Features', 'price_range'])

In [107]:
training_df.show()

+--------------------+-----------+
|            Features|price_range|
+--------------------+-----------+
|[842.0,0.0,2.2,0....|          1|
|[1021.0,1.0,0.5,1...|          2|
|[563.0,1.0,0.5,1....|          2|
|[615.0,1.0,2.5,0....|          2|
|[1821.0,1.0,1.2,0...|          1|
|[1859.0,0.0,0.5,1...|          1|
|[1821.0,0.0,1.7,0...|          3|
|[1954.0,0.0,0.5,1...|          0|
|[1445.0,1.0,0.5,0...|          0|
|[509.0,1.0,0.6,1....|          0|
|[769.0,1.0,2.9,1....|          3|
|[1520.0,1.0,2.2,0...|          3|
|[1815.0,0.0,2.8,0...|          1|
|[803.0,1.0,2.1,0....|          2|
|[1866.0,0.0,0.5,0...|          0|
|[775.0,0.0,1.0,0....|          0|
|[838.0,0.0,0.5,0....|          3|
|[595.0,0.0,0.9,1....|          3|
|[1131.0,1.0,0.5,1...|          1|
|[682.0,1.0,0.5,0....|          1|
+--------------------+-----------+
only showing top 20 rows

In [111]:
from pyspark.ml.classification import LogisticRegression
train_data, test_data = training_df.randomSplit([.7, .3])
LR = LogisticRegression(featuresCol='Features', labelCol='price_range')
LR = LR.fit(train_data)

In [112]:
pred = LR.evaluate(test_data)

In [118]:
pred.predictions.toPandas()

,Features,price_range,rawPrediction,probability,prediction
0,"(1210.0, 0.0, 0.5, 0.0, 0.0, 0.0, 63.0, 0.1, 9...",2,"[-8767.10548399319, 1419.0024480372686, 4298.0...","[0.0, 0.0, 1.0, 0.0]",2.0
1,"(1356.0, 0.0, 2.8, 0.0, 0.0, 0.0, 29.0, 0.5, 1...",3,"[-23155.731233403792, -2431.640806557458, 8377...","[0.0, 0.0, 0.0, 1.0]",3.0
2,"[502.0, 0.0, 0.8, 0.0, 7.0, 0.0, 52.0, 1.0, 82...",2,"[-3717.6697735950183, 2885.597136229313, 3222....","[0.0, 3.496151466182958e-147, 1.0, 0.0]",2.0
3,"[502.0, 0.0, 1.5, 1.0, 7.0, 0.0, 37.0, 0.2, 19...",1,"[3868.418234900135, 4969.731884148372, 1192.68...","[0.0, 1.0, 0.0, 0.0]",1.0
4,"[503.0, 0.0, 1.2, 1.0, 5.0, 1.0, 8.0, 0.4, 111...",1,"[-2124.8792716916178, 3450.9691824492875, 2706...","[0.0, 1.0, 5e-324, 0.0]",1.0
...,...,...,...,...,...
599,"[1994.0, 1.0, 0.7, 0.0, 5.0, 0.0, 5.0, 0.4, 18...",2,"[-2819.180544844756, 3322.7722053451052, 3378....","[0.0, 3.8185260044261255e-25, 1.0, 0.0]",2.0
600,"[1994.0, 1.0, 0.8, 1.0, 2.0, 1.0, 7.0, 0.6, 88...",0,"[8686.49442532245, 6384.128252717486, -393.473...","[1.0, 0.0, 0.0, 0.0]",0.0
601,"[1995.0, 1.0, 1.9, 0.0, 6.0, 0.0, 9.0, 0.8, 13...",2,"[-5162.202251723251, 2401.183793723849, 3668.8...","[0.0, 0.0, 1.0, 0.0]",2.0
602,"[1996.0, 1.0, 2.8, 1.0, 0.0, 1.0, 7.0, 0.1, 13...",1,"[315.9422961362652, 3934.8215413317394, 1948.2...","[0.0, 1.0, 0.0, 0.0]",1.0
603,"[1998.0, 1.0, 1.2, 0.0, 8.0, 0.0, 31.0, 0.6, 1...",2,"[-7031.5319361280635, 2024.8307054261222, 4420...","[0.0, 0.0, 1.0, 0.0]",2.0

In [120]:
pred.recallByLabel # recall

[0.9776119402985075,
 0.9573170731707317,
 0.9675324675324676,
 0.9802631578947368]

In [121]:
pred.accuracy

0.9701986754966887

In [125]:
# now test it on the test data set
test.printSchema()

root
 |-- id: integer (nullable = true)
 |-- battery_power: integer (nullable = true)
 |-- blue: integer (nullable = true)
 |-- clock_speed: double (nullable = true)
 |-- dual_sim: integer (nullable = true)
 |-- fc: integer (nullable = true)
 |-- four_g: integer (nullable = true)
 |-- int_memory: integer (nullable = true)
 |-- m_dep: double (nullable = true)
 |-- mobile_wt: integer (nullable = true)
 |-- n_cores: integer (nullable = true)
 |-- pc: integer (nullable = true)
 |-- px_height: integer (nullable = true)
 |-- px_width: integer (nullable = true)
 |-- ram: integer (nullable = true)
 |-- sc_h: integer (nullable = true)
 |-- sc_w: integer (nullable = true)
 |-- talk_time: integer (nullable = true)
 |-- three_g: integer (nullable = true)
 |-- touch_screen: integer (nullable = true)
 |-- wifi: integer (nullable = true)

In [129]:
test = test.drop('id')

In [130]:
test.printSchema()

root
 |-- battery_power: integer (nullable = true)
 |-- blue: integer (nullable = true)
 |-- clock_speed: double (nullable = true)
 |-- dual_sim: integer (nullable = true)
 |-- fc: integer (nullable = true)
 |-- four_g: integer (nullable = true)
 |-- int_memory: integer (nullable = true)
 |-- m_dep: double (nullable = true)
 |-- mobile_wt: integer (nullable = true)
 |-- n_cores: integer (nullable = true)
 |-- pc: integer (nullable = true)
 |-- px_height: integer (nullable = true)
 |-- px_width: integer (nullable = true)
 |-- ram: integer (nullable = true)
 |-- sc_h: integer (nullable = true)
 |-- sc_w: integer (nullable = true)
 |-- talk_time: integer (nullable = true)
 |-- three_g: integer (nullable = true)
 |-- touch_screen: integer (nullable = true)
 |-- wifi: integer (nullable = true)

In [138]:
test_featureAssembler = VectorAssembler(inputCols=test.columns, outputCol='Features')

In [139]:
test_features = test_featureAssembler.transform(test)

In [140]:
test_features.columns

['battery_power',
 'blue',
 'clock_speed',
 'dual_sim',
 'fc',
 'four_g',
 'int_memory',
 'm_dep',
 'mobile_wt',
 'n_cores',
 'pc',
 'px_height',
 'px_width',
 'ram',
 'sc_h',
 'sc_w',
 'talk_time',
 'three_g',
 'touch_screen',
 'wifi',
 'Features']

In [141]:
test_features = test_features.select('Features')

In [143]:
test_features.show()

+--------------------+
|            Features|
+--------------------+
|[1043.0,1.0,1.8,1...|
|[841.0,1.0,0.5,1....|
|[1807.0,1.0,2.8,0...|
|[1546.0,0.0,0.5,1...|
|[1434.0,0.0,1.4,0...|
|[1464.0,1.0,2.9,1...|
|[1718.0,0.0,2.4,0...|
|[833.0,0.0,2.4,1....|
|[1111.0,1.0,2.9,1...|
|[1520.0,0.0,0.5,0...|
|[1500.0,0.0,2.2,0...|
|[1343.0,0.0,2.9,0...|
|[900.0,1.0,1.4,1....|
|[1190.0,1.0,2.2,1...|
|[630.0,0.0,1.8,0....|
|[1846.0,1.0,1.0,0...|
|[1985.0,0.0,0.5,1...|
|[1042.0,0.0,2.9,0...|
|[1231.0,1.0,1.7,1...|
|[1488.0,0.0,2.6,0...|
+--------------------+
only showing top 20 rows

In [144]:
pred_test = LR.transform(test_features)

In [145]:
pred_test.show()

+--------------------+--------------------+--------------------+----------+
|            Features|       rawPrediction|         probability|prediction|
+--------------------+--------------------+--------------------+----------+
|[1043.0,1.0,1.8,1...|[-12600.833562058...|[0.0,0.0,2.650005...|       3.0|
|[841.0,1.0,0.5,1....|[-15729.927528889...|   [0.0,0.0,0.0,1.0]|       3.0|
|[1807.0,1.0,2.8,0...|[-10537.693053455...|[0.0,0.0,1.0,7.99...|       2.0|
|[1546.0,0.0,0.5,1...|[-22326.270245365...|   [0.0,0.0,0.0,1.0]|       3.0|
|[1434.0,0.0,1.4,0...|[-494.58864361828...|   [0.0,1.0,0.0,0.0]|       1.0|
|[1464.0,1.0,2.9,1...|[-15276.703973004...|   [0.0,0.0,0.0,1.0]|       3.0|
|[1718.0,0.0,2.4,0...|[-24217.675071938...|   [0.0,0.0,0.0,1.0]|       3.0|
|[833.0,0.0,2.4,1....|[22.7180981029705...|   [0.0,1.0,0.0,0.0]|       1.0|
|[1111.0,1.0,2.9,1...|[-13983.991793212...|   [0.0,0.0,0.0,1.0]|       3.0|
|[1520.0,0.0,0.5,0...|[11667.1171965448...|   [1.0,0.0,0.0,0.0]|       0.0|
|[1500.0,0.0,2.2,0...|[-21567.830738311...|   [0.0,0.0,0.0,1.0]|       3.0|
|[1343.0,0.0,2.9,0...|[-19774.089543392...|   [0.0,0.0,0.0,1.0]|       3.0|
|[900.0,1.0,1.4,1....|[10669.5660771482...|   [1.0,0.0,0.0,0.0]|       0.0|
|[1190.0,1.0,2.2,1...|[6766.38913895292...|   [1.0,0.0,0.0,0.0]|       0.0|
|[630.0,0.0,1.8,0....|[-7810.7722121134...|   [0.0,0.0,1.0,0.0]|       2.0|
|[1846.0,1.0,1.0,0...|[6600.23439484364...|   [1.0,0.0,0.0,0.0]|       0.0|
|[1985.0,0.0,0.5,1...|[-7386.1358783001...|   [0.0,0.0,1.0,0.0]|       2.0|
|[1042.0,0.0,2.9,0...|[970.899143142585...|   [0.0,1.0,0.0,0.0]|       1.0|
|[1231.0,1.0,1.7,1...|[-18023.070380432...|   [0.0,0.0,0.0,1.0]|       3.0|
|[1488.0,0.0,2.6,0...|[-3619.9672769354...|[0.0,5.0905349367...|       2.0|
+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [146]:
pred_test.count()

1000