## Palindrome

In [94]:
def palindrome(string):
    if string.lower() == string[::-1].lower():
        return True
    else:
        return False

In [95]:
palindrome('Racecar')

True

In [96]:
palindrome('Palindrome')

False

## Factorial

In [97]:
def factorial(num):
    if num > 0:
        for x in range(1, num):
            num = num * x
        return num
    elif num == 0:
        num = 1
        return num
    else:
        for x in range(1, num*-1):
            num = num * x
        return num

In [106]:
factorial(7)

5040

## Loan Calculator

- Formula for EMI - p * r * (1+r)n/((1+r)n-1)
- p = Principal or Loan Amount
- r = Interest Rate Per Month
- n = Number of monthly installments
- years in education (simple interest), years outside education (compound interest), years in work (compound interest)

In [136]:
simple_interest(28000, .05, 3)

4200.0

In [152]:
simple_interest(28000, .05, 3)

1403.0

In [151]:
def simple_interest(amount, rate, years):
    amount = amount * rate + years
    return amount

In [143]:
def compound_interest(amount, rate, years):
    amount = amount + (amount * rate * years)
    return amount

In [ ]:
def calculate_debt(simple_interest, compound_interest):

In [144]:
while True:
    try:
        years_in_uni = int(input('How many years did you study in university: '))
        break
    except:
        print('Please input years amount (int)')
    
while True:
    try:
        time_period = int(input('When would you like to pay off your loan: '))
        break
    except:
        print('Please input years amount (int)')
        
while True:
    try:
        loan_amount = int(input('How much did you loan from the university: '))
        break
    except:
        print('Please input years amount (int)')

        
years_out_uni = time_period - years_in_uni

        
# fixed uni rate
rate = 0.05
        
# calculation
debt_after_3_years = simple_interest(loan_amount, rate, years_in_uni)
print(debt_after_3_years)

print(compound_interest(debt_after_3_years, rate, years_out_uni))

How many years did you study in university: 3
When would you like to pay off your loan: 7
How much did you loan from the university: 28000
4200.0
5040.0

In [140]:
compound_interest(28000, .05, 4)

34034.175

In [90]:
diff_in_years = years_out_uni - years_in_uni

In [91]:
diff_in_years

7

In [93]:
simple_interest(, 0.05, 3) + compound_interest()

10350.0