## Risk Evaluation/

In [1]:
import pandas as pd

In [2]:
x = {
        'Name': ['Harsh', 'Warsh'],
        'Married':['No', 'Yes'],
        'Insurance':['Yes', 'No'],
        'Real Estate': ['100000', '23452'],
        'Salary':['78000', '10000'],
        'Expenses':['23000', '74049']
        
    }

In [3]:
df = pd.DataFrame(x)
df

    Name Married Insurance Real Estate Salary Expenses
0  Harsh      No       Yes      100000  78000    23000
1  Warsh     Yes        No       23452  10000    74049

In [4]:
df.dtypes

Name           object
Married        object
Insurance      object
Real Estate    object
Salary         object
Expenses       object
dtype: object

In [5]:
df[['Real Estate', 'Salary', 'Expenses']] = df[['Real Estate', 'Salary', 'Expenses']].apply(pd.to_numeric)

In [6]:
df.dtypes

Name           object
Married        object
Insurance      object
Real Estate     int64
Salary          int64
Expenses        int64
dtype: object

Score out of 10 for each parameter:

- If Married, score = 4, if not, 10
- If Insurance score = 10, if not, 3
- If Real Estate between 0-10000: 2, 10000-30000: 4, 30000-50000: 6, 50000:70000: 8, 70000-: 10
- Salary between 0-20000: 2, 20000-40000: 4, 40000-60000: 6, 60000-80000: 8, 80000-: 10
- Expenses between 0-20000: 10, 20000-40000: 8, 40000-60000: 6, 60000-80000: 4, 80000-: 2

Max score is 50

- 0-20: Poor
- 20-40: Good
- 40+: Excellent

In [7]:
def married(status):
    if status == 'Yes':
        return 10
    else:
        return 4

In [8]:
def insurance(status):
    if status == 'Yes':
        return 10
    else:
        return 3

In [9]:
def real_estate(value):
    if value <= 0:
        return 0
    elif ((value > 0) & (value <= 10000)):
        return 2
    elif ((value > 10000) & (value <= 30000)):
        return 4
    elif ((value > 30000) & (value <= 60000)):
        return 6
    elif ((value > 60000) & (value <= 80000)):
        return 8
    else:
        return 10

In [10]:
def salary(value):
    if value <= 0:
        return 0
    elif ((value > 0) and (value <= 20000)):
        return 2
    elif ((value > 20000) and (value <= 40000)):
        return 4
    elif ((value > 40000) and (value <= 60000)):
        return 6
    elif ((value > 60000) and (value <= 80000)):
        return 8
    else:
        return 10

In [11]:
def expenses(value):
    if value <= 0:
        return 0
    elif ((value > 0) and (value <= 20000)):
        return 10
    elif ((value > 20000) and (value <= 40000)):
        return 8
    elif ((value > 40000) and (value <= 60000)):
        return 6
    elif ((value > 60000) and (value <= 80000)):
        return 4
    else:
        return 2

In [12]:
def tally(total):
    if total <= 20:
        return 'Poor'
    elif (total > 20 and total <= 40):
        return 'Good'
    else:
        return 'Excellent'

In [13]:
df.columns

Index(['Name', 'Married', 'Insurance', 'Real Estate', 'Salary', 'Expenses'], dtype='object')

In [20]:
harsh_total = married(df['Name'].iloc[0]) + insurance(df['Married'].iloc[0]) + real_estate(df['Real Estate'].iloc[0]) + salary(df['Salary'].iloc[0]) + expenses(df['Expenses'].iloc[0])

In [21]:
harsh_total

33

In [22]:
tally(harsh_total)

'Good'

In [23]:
warsh_total = married(df['Name'].iloc[1]) + insurance(df['Married'].iloc[1]) + real_estate(df['Real Estate'].iloc[1]) + salary(df['Salary'].iloc[1]) + expenses(df['Expenses'].iloc[1])

In [24]:
warsh_total

24

In [25]:
tally(warsh_total)

'Good'