In [1]:
import pandas as pd

In [2]:
# database
students = {
    'ID': [143, 232, 163, 136, 168, 12],
    'First Name': ['Wayne', 'Michael', 'Cristiano', 'Lionel', 'Kylian', 'Pep'],
    'Last Name': ['Rooney', 'Don', 'Ronaldo', 'Messi', 'Mbappe', 'Guordiola'],
    'Role': ['Student', 'Student', 'Student', 'Student', 'Student', 'Teacher']
}

database = pd.DataFrame(students)

In [3]:
database

    ID First Name  Last Name     Role
0  143      Wayne     Rooney  Student
1  232    Michael        Don  Student
2  163  Cristiano    Ronaldo  Student
3  136     Lionel      Messi  Student
4  168     Kylian     Mbappe  Student
5   12        Pep  Guordiola  Teacher

In [4]:
# books for libary
libraries = {
    'Genre': ['Kids', 'Horror', 'Romance', 'Educational'],
    'Number of books available':[23, 45, 62, 74],
    'Number of books on loan': [13, 46, 62, 71]
}

library_df = pd.DataFrame(libraries)

In [5]:
library_df['Total Number of books'] = library_df['Number of books available'] + library_df['Number of books on loan']

In [6]:
library_df

,Genre,Number of books available,Number of books on loan,Total Number of books
0,Kids,23,13,36
1,Horror,45,46,91
2,Romance,62,62,124
3,Educational,74,71,145

In [7]:
def pick_department():
    while True:
        try:
            print('========================================')
            print('What department do you want to access:\n')
            print('     1 for library')
            print('     2 for sports')
            print('     3 HR')
            print('========================================')
            
            department = int(input('Select: '))
            if department == 1 or department == 2 or department == 3:
                break
            else:
                print('Please select a valid input!\n')
        except:
            print('Please input either 1, 2 or 3!\n')
    return department

In [8]:
def verification():
    print('========================================')
    id_number = int(input('Input ID Number: '))
    print('========================================')
    
    # gives row of person
    row = database[database['ID'] == 12].reset_index(drop=True)
    
    # if person is student
    if row.at[0,'Role'] == 'Student':
        return 'Student'
    # if person is teacher
    else:
        return 'Teacher'

In [9]:
def library():
    # ask how many books do you want
    print('========================================')
    print('THIS IS THE LIBRARY DEPARTMENT.')
    print('========================================')
    
    if role == 'Student':
        
        # menu for student
        options = library_options()
        
    elif role == 'Teacher':
        
        # menu for student
        options = library_options()

In [10]:
def library_options():
    while True:
        try:
            # menu for student
            print('Libary Options:\n')
            print('    1 to see collection of books')
            print('    2 to borrow a book')
            print('    3 to return a book')
            print('    4 to return to main menu')
            
            print('========================================')
            
            options = int(input('Select: '))
            if options == 1 or options == 2 or options == 3 or options == 4:
                break
            else:
                print('Please select a valid input!\n')
        except:
            print('Please input either 1, 2, 3 or 4!\n')
    return options

In [11]:
def sports():
    pass

In [12]:
def HR():
    pass

In [13]:
'''----- MAIN -----'''
department = pick_department()

role = verification()

if department == 1:
    library()
else:
    pass

========================================
What department do you want to access:

     1 for library
     2 for sports
     3 HR
========================================
Select: 1
========================================
Input ID Number: 12
========================================
========================================
THIS IS THE LIBRARY DEPARTMENT.
========================================
Libary Options:

    1 to see collection of books
    2 to borrow a book
    3 to return a book
    4 to return to main menu
========================================
Select: 1

In [10]:
# show student collection of books
print(library_df[['Genre', 'Number of books available']])

         Genre  Number of books available
0         Kids                         23
1       Horror                         45
2      Romance                         62
3  Educational                         74