In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/cylons/master/data.csv')
data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [2]:
data.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst', 'Unnamed: 32'],
      dtype='object')

In [3]:
our_columns = ['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean']
df = data.loc[:, our_columns]
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883

In [4]:
# have we identified y?
# have we identified x?
# Y -> diagnosis
# X -> thanks to correlation test, we choose
# NOT to use the ID column-> but everything
# else can be at least tested upon!

In [5]:
# get rid of ID without losing it
df = df.set_index('id')
df.head()
# ID won't participate in ML anymore
# ID has not been LOST either!

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean
id,,,,,,,,,,,
842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871
842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667
84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999
84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744
84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883

In [6]:
# Check for missing values
for col_name in df.columns:
  print(col_name, end=" ")
  print(df[col_name].isna().sum())

diagnosis 0
radius_mean 0
texture_mean 0
perimeter_mean 0
area_mean 0
smoothness_mean 0
compactness_mean 0
concavity_mean 0
concave points_mean 0
symmetry_mean 0
fractal_dimension_mean 0

In [ ]:
# diagnosis = weights * [df.columns] + bias
# weights, bias -> LEARNT by the machine

In [ ]:
# BASIC CHECKS WITHOUT WHICH ML CANNOT HAPPEN
# 1) NO Missing Values
# 2) NO Non-Numerical Values!

In [ ]:
# 1) there are all values present
# 2) we have M and B that needs to be
# numerical instead

In [ ]:
# LAMBDA is a 1 LINE FUNCTION
# Advantage of a function->
#     its a block of code executed together
# Disadvantage-> a MEMORY jump is required
#     Executor jumps from main block to 
#     function block, executes it, and then
#     jumps back to main block-> time!

# LAMBDA-> ability to perform a 1-line 
#     function LIKE operation for which NO
#     JUMP is required!
#     LAMBDA is a 1-line function that executes
#     MUCH faster than a normal function

In [ ]:
# Syntax-> 
# <name> = lambda input: what_to_do_with_i/p
# example:
# mylambda = lambda x : x+1
# example:
# deg_to_K = lambda temp: temp + 273

In [7]:
outputs = { 'B': 0, 'M': 1}
transform_logic = lambda xyz: outputs[xyz]

In [8]:
# test
transform_logic('M')

1

In [9]:
# You can take a FUNCTION/LAMBDA and pass
#it as a MAPPING logic
# Mapping logic will be applied to EVERY 
# value in the target column
Y = df['diagnosis'].map(transform_logic)

In [10]:
Y[-15:]

id
924632    0
924934    0
924964    0
925236    0
925277    0
925291    0
925292    0
925311    0
925622    1
926125    1
926424    1
926682    1
926954    1
927241    1
92751     0
Name: diagnosis, dtype: int64

In [11]:
df['diagnosis'][-15:]

id
924632    B
924934    B
924964    B
925236    B
925277    B
925291    B
925292    B
925311    B
925622    M
926125    M
926424    M
926682    M
926954    M
927241    M
92751     B
Name: diagnosis, dtype: object

In [12]:
# TRANSFORM-> on a single item
# APPLY that logic to EVERY VALUE

# M and B are non trainable
# TRANSFORMATION-> convert M to 1, and B->0
#

In [13]:
logic = lambda val: 1 if val=='M' else 0
Y = df['diagnosis'].map(logic)

In [14]:
Y[-15:]

id
924632    0
924934    0
924964    0
925236    0
925277    0
925291    0
925292    0
925311    0
925622    1
926125    1
926424    1
926682    1
926954    1
927241    1
92751     0
Name: diagnosis, dtype: int64

In [15]:
# Y has only numbers now!
# Only problem is X
df.columns

Index(['diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean'],
      dtype='object')

In [16]:
# in iloc-> we are passing 1, because we
# want 0th column ('diagnosis') to be ignored
X = df.iloc[:, 1:]

In [17]:
X.head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean
id,,,,,,,,,,
842302,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871
842517,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667
84300903,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999
84348301,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744
84358402,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883

In [18]:
# X is not normalized
# Optionally we can normalize the data also

In [19]:
# Z-score = (data-mean)/standard_dev
mu = df.describe().T['mean']
sigma = df.describe().T['std']
X_norm = (X-mu)/sigma

In [20]:
X_norm.head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean
id,,,,,,,,,,
842302,1.096100,-2.071512,1.268817,0.983510,1.567087,3.280628,2.650542,2.530249,2.215566,2.253764
842517,1.828212,-0.353322,1.684473,1.907030,-0.826235,-0.486643,-0.023825,0.547662,0.001391,-0.867889
84300903,1.578499,0.455786,1.565126,1.557513,0.941382,1.052000,1.362280,2.035440,0.938859,-0.397658
84348301,-0.768233,0.253509,-0.592166,-0.763792,3.280667,3.399917,1.914213,1.450431,2.864862,4.906602
84358402,1.748758,-1.150804,1.775011,1.824624,0.280125,0.538866,1.369806,1.427237,-0.009552,-0.561956

In [21]:
# OPTIONALLY-> we can choose to remove outliers
for col_name in X_norm.columns:
  #print(col_name, end=" ")
  samples = X_norm[col_name]
  outliers = samples[(samples<-3) | (samples > 3)]
  outlier_indexes = outliers.index
  # drop these indexes from both Y and X_norm
  X_norm.drop(outlier_indexes)
  Y.drop(outlier_indexes)
  #print(outlier_indexes)

In [22]:
# Y = mx + c
# diagnosis = weights * (columns) + bias
# Y = weights * X_norm + bias

In [23]:
# This point- we can get started with
# MODEL SELECTION

In [24]:
# Divide the data between 
# Training and Testing
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X_norm,
                                                Y,
                                                test_size=0.2)

In [27]:
xtrain[:5]

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean
id,,,,,,,,,,
89742801,0.832199,0.397660,0.816123,0.749361,1.104919,0.023839,0.777732,1.299411,-0.308666,-0.295680
9113816,-0.592299,2.057726,-0.622209,-0.582498,-0.628569,-0.839588,-0.816978,-0.648126,0.154596,-0.823982
883270,0.026307,1.990300,0.023909,-0.088059,-1.004704,-0.008350,0.269703,-0.124711,-1.713044,-0.213531
91762702,2.980296,0.537162,3.026093,3.370455,0.472103,2.011995,1.783756,2.530249,0.654335,0.650447
85922302,-0.410690,1.057966,-0.381869,-0.442975,1.126250,0.413897,0.301063,0.510552,0.340630,0.439409

In [28]:
xtest[:5]

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean
id,,,,,,,,,,
88466802,-0.986732,1.378819,-0.986010,-0.874898,0.014912,-0.605933,-0.815473,-0.844504,0.311449,0.069740
8712853,0.239131,-0.543973,0.174944,0.088121,0.155695,-0.482667,-0.787500,-0.286297,-0.115336,-0.891967
90251,-0.492982,-0.420747,-0.466235,-0.545557,0.557427,0.480168,-0.374804,-0.518497,-0.118984,0.436577
869218,-0.765396,-0.460273,-0.753490,-0.729977,0.912941,-0.179521,-0.859125,-0.781106,-0.607780,0.399751
905501,-0.527033,-0.318446,-0.558008,-0.536464,-0.676208,-0.739991,-0.711107,-0.576998,0.563142,-0.967034

In [29]:
ytrain[:5]

id
89742801    1
9113816     0
883270      0
91762702    1
85922302    1
Name: diagnosis, dtype: int64

In [30]:
ytest[:5]

id
88466802    0
8712853     0
90251       0
869218      0
905501      0
Name: diagnosis, dtype: int64

In [31]:
# By IDs we can validate that
# xtrain, ytrain and xtest, ytest 
# have been mapped correctly!

In [32]:
# first we need algos
# KNN, Naive Bayes, Random Forest
# SVM, Decision Tree

In [33]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [34]:
# first an isolated
from sklearn.linear_model import LogisticRegression
# LOGISTIC regression is also a classification algorithm ;) 
#1) declare the algorithm object
# 2) fit the model
# 3) predict output values/metrics
# 4) evaluate the model
model = LogisticRegression()
model.fit(xtrain, ytrain) # need to know-> X and Y
p = model.predict(xtest)

In [35]:
p[:5]

array([0, 0, 0, 0, 0], dtype=int64)

In [36]:
# values that we ALREADY know as correct
ytest[:5]

id
88466802    0
8712853     0
90251       0
869218      0
905501      0
Name: diagnosis, dtype: int64

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(p, ytest)

0.956140350877193

In [38]:
mymodels = {"Logistic":LogisticRegression(),
            "Neighbour": KNeighborsClassifier(),
            "Sherlock": GaussianNB(),
            "DTree1": DecisionTreeClassifier(max_depth=100),
            "DTree2": DecisionTreeClassifier(max_depth=10),
            "RF1": RandomForestClassifier(n_estimators=25),
            "RF2": RandomForestClassifier(n_estimators=50),
            "SVM": LinearSVC()
            }

In [39]:
mymodels.items()

dict_items([('Logistic', LogisticRegression()), ('Neighbour', KNeighborsClassifier()), ('Sherlock', GaussianNB()), ('DTree1', DecisionTreeClassifier(max_depth=100)), ('DTree2', DecisionTreeClassifier(max_depth=10)), ('RF1', RandomForestClassifier(n_estimators=25)), ('RF2', RandomForestClassifier(n_estimators=50)), ('SVM', LinearSVC())])

In [40]:
for modelname,model in mymodels.items():
  print(modelname, end=" ")
  model.fit(xtrain, ytrain)
  p = model.predict(xtest)
  accuracy = accuracy_score(p, ytest)
  print(accuracy*100, end="%\n")

Logistic 95.6140350877193%
Neighbour 94.73684210526315%
Sherlock 90.35087719298247%
DTree1 93.85964912280701%
DTree2 94.73684210526315%
RF1 92.98245614035088%
RF2 93.85964912280701%
SVM 95.6140350877193%

In [41]:
for i in range(100):
  mymodel = RandomForestClassifier(n_estimators=i+1)
  mymodel.fit(xtrain, ytrain)
  p = mymodel.predict(xtest)
  ascore = accuracy_score(p, ytest)
  print(str(i+1)+ " = ", str(ascore))

1 =  0.9035087719298246
2 =  0.9298245614035088
3 =  0.956140350877193
4 =  0.9122807017543859
5 =  0.9122807017543859
6 =  0.9298245614035088
7 =  0.9473684210526315
8 =  0.9385964912280702
9 =  0.9385964912280702
10 =  0.9298245614035088
11 =  0.9385964912280702
12 =  0.9385964912280702
13 =  0.9298245614035088
14 =  0.9473684210526315
15 =  0.9473684210526315
16 =  0.9298245614035088
17 =  0.9385964912280702
18 =  0.9298245614035088
19 =  0.9385964912280702
20 =  0.9473684210526315
21 =  0.9298245614035088
22 =  0.9385964912280702
23 =  0.9473684210526315
24 =  0.9210526315789473
25 =  0.956140350877193
26 =  0.9298245614035088
27 =  0.9385964912280702
28 =  0.9385964912280702
29 =  0.9210526315789473
30 =  0.9385964912280702
31 =  0.9298245614035088
32 =  0.9473684210526315
33 =  0.9385964912280702
34 =  0.9385964912280702
35 =  0.9385964912280702
36 =  0.9473684210526315
37 =  0.9473684210526315
38 =  0.9385964912280702
39 =  0.9473684210526315
40 =  0.956140350877193
41 =  0.9473684210526315
42 =  0.9473684210526315
43 =  0.9473684210526315
44 =  0.9298245614035088
45 =  0.9385964912280702
46 =  0.9473684210526315
47 =  0.9298245614035088
48 =  0.9473684210526315
49 =  0.9385964912280702
50 =  0.956140350877193
51 =  0.9473684210526315
52 =  0.9473684210526315
53 =  0.9385964912280702
54 =  0.9473684210526315
55 =  0.9385964912280702
56 =  0.9210526315789473
57 =  0.9473684210526315
58 =  0.9385964912280702
59 =  0.956140350877193
60 =  0.9473684210526315
61 =  0.956140350877193
62 =  0.9385964912280702
63 =  0.9385964912280702
64 =  0.9385964912280702
65 =  0.9473684210526315
66 =  0.9385964912280702
67 =  0.9385964912280702
68 =  0.9298245614035088
69 =  0.9473684210526315
70 =  0.9298245614035088
71 =  0.9473684210526315
72 =  0.956140350877193
73 =  0.9385964912280702
74 =  0.956140350877193
75 =  0.9385964912280702
76 =  0.9385964912280702
77 =  0.9385964912280702
78 =  0.9385964912280702
79 =  0.9385964912280702
80 =  0.9385964912280702
81 =  0.9385964912280702
82 =  0.9385964912280702
83 =  0.9473684210526315
84 =  0.9385964912280702
85 =  0.9385964912280702
86 =  0.9385964912280702
87 =  0.9473684210526315
88 =  0.9473684210526315
89 =  0.9385964912280702
90 =  0.9298245614035088
91 =  0.9473684210526315
92 =  0.956140350877193
93 =  0.9385964912280702
94 =  0.9385964912280702
95 =  0.9473684210526315
96 =  0.9473684210526315
97 =  0.9210526315789473
98 =  0.9298245614035088
99 =  0.9385964912280702
100 =  0.9385964912280702

In [42]:
import pickle as pk
modelfile = open("model.pkl","wb")
pk.dump(model,modelfile )