In [1]:
import pandas as pd
from pandas_datareader import data as pdr
import datetime as dt

In [2]:
stock_list = ['AAPL']
stocks = [i for i in stock_list]

end = dt.datetime.now()
start = dt.datetime(2017,1,1)

In [3]:
df = pdr.get_data_yahoo(stocks, start, end)
print(df.head())

Attributes  Adj Close      Close       High        Low       Open       Volume
Symbols          AAPL       AAPL       AAPL       AAPL       AAPL         AAPL
Date
2017-01-03  27.174751  29.037500  29.082500  28.690001  28.950001  115127600.0
2017-01-04  27.144339  29.004999  29.127501  28.937500  28.962500   84472400.0
2017-01-05  27.282373  29.152500  29.215000  28.952499  28.980000   88774400.0
2017-01-06  27.586527  29.477501  29.540001  29.117500  29.195000  127007600.0
2017-01-09  27.839209  29.747499  29.857500  29.485001  29.487499  134247600.0

In [4]:
from bs4 import BeautifulSoup
import requests

# get a list of top 500 stocks
url = 'https://www.advfn.com/nasdaq/nasdaq.asp'
website = requests.get(url).content
soup = BeautifulSoup(website, 'lxml')

In [5]:
import pandas as pd

In [6]:
x = pd.read_html('https://en.wikipedia.org/wiki/Nasdaq-100')[4]['Symbol']

In [7]:
x.to_list()

['ATVI',
 'ADBE',
 'ADP',
 'ABNB',
 'ALGN',
 'GOOGL',
 'GOOG',
 'AMZN',
 'AMD',
 'AEP',
 'AMGN',
 'ADI',
 'ANSS',
 'AAPL',
 'AMAT',
 'ASML',
 'AZN',
 'TEAM',
 'ADSK',
 'BIDU',
 'BIIB',
 'BKNG',
 'AVGO',
 'CDNS',
 'CHTR',
 'CTAS',
 'CSCO',
 'CTSH',
 'CMCSA',
 'CEG',
 'CPRT',
 'COST',
 'CRWD',
 'CSX',
 'DDOG',
 'DXCM',
 'DOCU',
 'DLTR',
 'EBAY',
 'EA',
 'ENPH',
 'EXC',
 'FAST',
 'FISV',
 'FTNT',
 'GILD',
 'HON',
 'IDXX',
 'ILMN',
 'INTC',
 'INTU',
 'ISRG',
 'JD',
 'KDP',
 'KLAC',
 'KHC',
 'LRCX',
 'LCID',
 'LULU',
 'MAR',
 'MRVL',
 'MTCH',
 'MELI',
 'META',
 'MCHP',
 'MU',
 'MSFT',
 'MRNA',
 'MDLZ',
 'MNST',
 'NTES',
 'NFLX',
 'NVDA',
 'NXPI',
 'ORLY',
 'ODFL',
 'PCAR',
 'PANW',
 'PAYX',
 'PYPL',
 'PEP',
 'PDD',
 'QCOM',
 'REGN',
 'ROST',
 'SGEN',
 'SIRI',
 'SWKS',
 'SPLK',
 'SBUX',
 'SNPS',
 'TMUS',
 'TSLA',
 'TXN',
 'VRSN',
 'VRSK',
 'VRTX',
 'WBA',
 'WDAY',
 'XEL',
 'ZM',
 'ZS']

In [8]:
x.shape

(102,)

In [10]:
end = dt.datetime.now()

In [11]:
from datetime import timedelta
start = end - timedelta(days=365)

In [12]:
end, start

(datetime.datetime(2022, 12, 7, 15, 4, 9, 593710),
 datetime.datetime(2021, 12, 7, 15, 4, 9, 593710))

In [2]:
import pandas as pd
from pandas_datareader import data as pdr
import datetime as dt
from datetime import timedelta
import time

# get a list of top 500 stocks
list_of_stocks = pd.read_html('https://en.wikipedia.org/wiki/Nasdaq-100')[4]['Symbol'].to_list()

# https://au.finance.yahoo.com/
# collect stock data for the past year
# end = dt.datetime.now()
# start = end - timedelta(days=10)
# df = pdr.get_data_yahoo(list_of_stocks, start, end)

In [7]:
dfs = []
for stock in list_of_stocks:
    try:
        end = dt.datetime.now()
        start = end - timedelta(days=10)
        df = pdr.get_data_yahoo(stock, start, end)
        df['CODE'] = stock
        dfs.append(df)
    except:
        print(f'{stock} bugged')

CEG bugged
MSFT bugged
MDLZ bugged
MNST bugged
NTES bugged
NVDA bugged
XEL bugged
ZM bugged
ZS bugged

In [8]:
start_date = '2020-01-01'
end_date = '2022-01-01'
df = pdr.get_data_yahoo('MSFT', start_date, end_date)
df

RemoteDataError: Unable to read URL: https://finance.yahoo.com/quote/MSFT/history?period1=1577851200&period2=1641095999&interval=1d&frequency=1d&filter=history
Response Text:
b'<html><meta charset=\'utf-8\'><script>if(window!=window.top){document.write(\'<p>Content is currently unavailable.</p><img src="//geo.yahoo.com/p?s=1197757039&t=\'+new Date().getTime()+\'&_R=\'+encodeURIComponent(document.referrer)+\'&err=404&err_url=\'+\'https%3A%2F%2Ffinance.yahoo.com%2Fquote%2FMSFT%2Fhistory%3Fperiod1%3D1577851200%26period2%3D1641095999%26interval%3D1d%26frequency%3D1d%26filter%3Dhistory\'+\'" width="0px" height="0px"/>\');}else{window.location.replace(\'https://www.yahoo.com/?err=404&err_url=https%3A%2F%2Ffinance.yahoo.com%2Fquote%2FMSFT%2Fhistory%3Fperiod1%3D1577851200%26period2%3D1641095999%26interval%3D1d%26frequency%3D1d%26filter%3Dhistory\');}</script><noscript><META http-equiv="refresh" content="0;URL=\'https://www.yahoo.com/?err=404&err_url=https%3A%2F%2Ffinance.yahoo.com%2Fquote%2FMSFT%2Fhistory%3Fperiod1%3D1577851200%26period2%3D1641095999%26interval%3D1d%26frequency%3D1d%26filter%3Dhistory\'"></noscript></html>'

In [84]:
x = pd.concat(dfs)
x.reset_index(inplace=True)
x['CODE'].value_counts()

ATVI     8
ADBE     8
NTES     8
MNST     8
MDLZ     8
        ..
CEG      8
CMCSA    8
CTSH     8
CSCO     8
ZS       8
Name: CODE, Length: 96, dtype: int64

In [11]:
import pandas as pd 
import datetime
import time

In [12]:
interval = '1wk'
ticker = 'MSFT'
start = int(time.mktime(datetime.datetime(2020, 12, 1, 23, 59).timetuple()))
end = int(time.mktime(datetime.datetime(2020, 12, 31, 23, 59).timetuple()))

In [13]:
query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={start}&period2={end}&interval={interval}&events=history&includeAdjustedClose=true'

In [14]:
pd.read_csv(query_string)

'https://query1.finance.yahoo.com/v7/finance/download/MSFT?period1=1606867140&period2=1609459140&interval=1wk&events=history&includeAdjustedClose=true'

In [15]:
start = '2020-10-1'

In [18]:
start.split('-')

['2020', '10', '1']

In [29]:
import pandas as pd 
import datetime
import time

list_of_stocks = pd.read_html('https://en.wikipedia.org/wiki/Nasdaq-100')[4]['Symbol'].to_list()

def stock_pull(ticker, interval, start, end):
    # split dates up
    start_year, start_month, start_day = int(start.split('-')[0]), int(start.split('-')[1]), int(start.split('-')[2])
    end_year, end_month, end_day = int(end.split('-')[0]),int(end.split('-')[1]), int(end.split('-')[2])

    # period intervals
    period_1 = int(time.mktime(datetime.datetime(start_year, start_month, start_day, 23, 59).timetuple()))
    period_2 = int(time.mktime(datetime.datetime(end_year, end_month, end_day, 23, 59).timetuple()))

    query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period_1}&period2={period_2}&interval={interval}&events=history&includeAdjustedClose=true'

    df = pd.read_csv(query_string)
    df['Ticker'] = ticker

    return df

In [38]:
dfs = []
for stock in list_of_stocks:
    dfs.append(stock_pull(stock, '1d', '2021-12-1', '2022-12-1'))

In [39]:
final_df = pd.concat(dfs)
final_df

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2021-12-01,59.110001,59.209999,57.189999,57.279999,56.941532,11607000,ATVI
1,2021-12-02,57.279999,58.180000,56.619999,57.290001,56.951477,8606200,ATVI
2,2021-12-03,56.980000,57.439999,56.400002,57.360001,57.021061,13287400,ATVI
3,2021-12-06,57.529999,58.450001,57.240002,58.090000,57.746750,9409000,ATVI
4,2021-12-07,58.919998,59.270000,58.279999,58.770000,58.422729,11553500,ATVI
...,...,...,...,...,...,...,...,...
248,2022-11-25,138.429993,139.462997,136.360001,138.750000,138.750000,603300,ZS
249,2022-11-28,137.619995,139.389999,135.419998,136.720001,136.720001,1515000,ZS
250,2022-11-29,136.649994,137.559998,133.610001,134.850006,134.850006,1906300,ZS
251,2022-11-30,126.989998,133.529999,122.129997,133.449997,133.449997,5204100,ZS
252,2022-12-01,135.639999,144.869995,134.509995,144.500000,144.500000,7077700,ZS

In [40]:
final_df.groupby('Ticker').agg({'Date':'count'})

        Date
Ticker
AAPL     253
ABNB     253
ADBE     253
ADI      253
ADP      253
...      ...
WBA      253
WDAY     253
XEL      253
ZM       253
ZS       253

[102 rows x 1 columns]

In [44]:
datetime.datetime.now().strftime("%Y-%m-%d")

'2022-12-07'

In [50]:
(datetime.datetime.now() - timedelta(days=365)).strftime("%Y-%m-%d")

'2021-12-07'

In [51]:
import pandas as pd 
import datetime
from datetime import timedelta
import time

# gets df with stocks in list of stocks
def stock_pull(ticker, interval, start, end):
    # split dates up
    start_year, start_month, start_day = int(start.split('-')[0]), int(start.split('-')[1]), int(start.split('-')[2])
    end_year, end_month, end_day = int(end.split('-')[0]),int(end.split('-')[1]), int(end.split('-')[2])

    # period intervals
    period_1 = int(time.mktime(datetime.datetime(start_year, start_month, start_day, 23, 59).timetuple()))
    period_2 = int(time.mktime(datetime.datetime(end_year, end_month, end_day, 23, 59).timetuple()))

    query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period_1}&period2={period_2}&interval={interval}&events=history&includeAdjustedClose=true'

    df = pd.read_csv(query_string)
    df['Ticker'] = ticker

    return df

def all_stock_pull():
    # get a list of top 100 nasdaq
    list_of_stocks = pd.read_html('https://en.wikipedia.org/wiki/Nasdaq-100')[4]['Symbol'].to_list()

    # get date today
    today = datetime.datetime.now().strftime("%Y-%m-%d")

    # get date one year ago
    last_year = (datetime.datetime.now() - timedelta(days=365)).strftime("%Y-%m-%d")

    # all stocks combined
    dfs = []
    for stock in list_of_stocks:
        dfs.append(stock_pull(stock, '1d', last_year, today))

    return pd.concat(dfs)

In [52]:
all_stock_pull()

TypeError: unsupported operand type(s) for -: 'str' and 'datetime.timedelta'

In [53]:
 datetime.datetime.now().strftime("%Y-%m-%d")

'2022-12-07'