# Disney Movies Wikipedia Scraper

This webscraper consists of scraping the list of Walt Disney picture films on wikipedia and its corresponding extra information needed for each film.

## Webscraping

### bs4 set up

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
# website to be scraped
url = 'https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films'
website = requests.get(url).content
soup = BeautifulSoup(website, 'lxml')

### start of by selecting a movie and scraping the info box

In [3]:
url = 'https://en.wikipedia.org/wiki/Snow_White_and_the_Seven_Dwarfs_(1937_film)'
website = requests.get(url).text
soup_movie = BeautifulSoup(website, 'lxml')

In [4]:
# soup of the info box
info_box = soup_movie.find(class_='infobox vevent')
info_rows = info_box.select('tr')

In [5]:
# create empty dictionary to scrape title and respective information for movie
movie_info = {}

In [6]:
for index, row in enumerate(info_rows):
    if index == 0:
        movie_info['title'] = row.find('th').text
    elif index == 1:
        continue
    else:
        content_key = row.find('th').text
        content_value = row.find('td').text
        movie_info[content_key] = content_value

In [7]:
movie_info

{'title': 'Snow White and the Seven Dwarfs',
 'Directed by': 'Supervising Director \nDavid Hand\n\nSequence Directors \nWilliam Cottrell\nWilfred Jackson\nLarry Morey\nPerce Pearce\nBen Sharpsteen\n',
 'Written by': '\nTed Sears\nRichard Creedon\nOtto Englander\nDick Rickard\nEarl Hurd\nMerrill De Maris\nDorothy Ann Blank\nWebb Smith\n',
 'Based on': 'Snow Whiteby The Brothers Grimm',
 'Produced by': 'Walt Disney',
 'Starring': '\nAdriana Caselotti\nLucille La Verne\nHarry Stockwell\nRoy Atwell\nPinto Colvig\nOtis Harlan\nScotty Mattraw\nBilly Gilbert\nEddie Collins\nMoroni Olsen\nStuart Buchanan\n',
 'Music by': '\nFrank Churchill\nPaul Smith\nLeigh Harline\n',
 'Productioncompany': 'Walt Disney Productions',
 'Distributed by': 'RKO Radio Pictures',
 'Release dates': '\nDecember\xa021,\xa01937\xa0(1937-12-21) (Carthay Circle Theatre)\nFebruary\xa04,\xa01938\xa0(1938-02-04) (United States)\n',
 'Running time': '83 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$1.49 million[1]',
 'Box office': '$418 million[2]'}

In [8]:
# clean dictionary: get rid of \xa0 using replace, [1] using regex,'productioncompany', strip in get text to get rid of white space, deal with <br> tags
import re

def get_content_value(row_data):
    if row.find('li'):
        return [re.sub(r'\[\d*?\]', '', li.get_text(' ', strip=True).replace('\xa0', ' ')) for li in row_data.find_all('li')]
    else:
        return re.sub(r'\[\d*?\]', '', row_data.get_text(' ', strip=True).replace('\xa0', ' '))
    
for index, row in enumerate(info_rows): # provides an index to each table row that has to be looped through
    if index == 0: # first index is a title
        movie_info['title'] = row.find('th').get_text(' ', strip=True)
    elif index == 1: # second index is useless
        continue
    else: # index 3- is what we need
        content_key = row.find('th').get_text(' ', strip=True)        
        content_value = get_content_value(row.find('td'))
        movie_info[content_key] = content_value

movie_info

{'title': 'Snow White and the Seven Dwarfs',
 'Directed by': ['David Hand',
  'William Cottrell',
  'Wilfred Jackson',
  'Larry Morey',
  'Perce Pearce',
  'Ben Sharpsteen'],
 'Written by': ['Ted Sears',
  'Richard Creedon',
  'Otto Englander',
  'Dick Rickard',
  'Earl Hurd',
  'Merrill De Maris',
  'Dorothy Ann Blank',
  'Webb Smith'],
 'Based on': 'Snow White by The Brothers Grimm',
 'Produced by': 'Walt Disney',
 'Starring': ['Adriana Caselotti',
  'Lucille La Verne',
  'Harry Stockwell',
  'Roy Atwell',
  'Pinto Colvig',
  'Otis Harlan',
  'Scotty Mattraw',
  'Billy Gilbert',
  'Eddie Collins',
  'Moroni Olsen',
  'Stuart Buchanan'],
 'Music by': ['Frank Churchill', 'Paul Smith', 'Leigh Harline'],
 'Productioncompany': 'Walt Disney Productions',
 'Distributed by': 'RKO Radio Pictures',
 'Release dates': ['December 21, 1937 ( 1937-12-21 ) ( Carthay Circle Theatre )',
  'February 4, 1938 ( 1938-02-04 ) (United States)'],
 'Running time': '83 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$1.49 million ',
 'Box office': '$418 million ',
 'Production company': 'Walt Disney Productions'}

### Make sure to scrape for each movie by getting each link

In [9]:
# empty dict to append to
movies = {}

In [10]:
# gives a list of all the movies and links
links = soup.select('table > tbody > tr > td > i > a')

movies['title'] = [link.get_text(' ', strip=True) for link in links]
movies['link'] = [link.get('href') for link in links]

In [11]:
for index, link in enumerate(movies['link']):
    movies['link'][index] = 'https://en.wikipedia.org' + link

In [12]:
movies['link'][1]

'https://en.wikipedia.org/wiki/Snow_White_and_the_Seven_Dwarfs_(1937_film)'

More cleaning of data

In [13]:
def get_content_value(row_data):
    if row_data.find("li"):
        return [li.get_text(" ", strip=True).replace("\xa0", " ") for li in row_data.find_all("li")]
    elif row_data.find("br"):
        return [text for text in row_data.stripped_strings]
    else:
        return row_data.get_text(" ", strip=True).replace("\xa0", " ")

# get rids of number tags, re was creating problems with the string list. Span gets rid of the extra date in brackets.
def clean_tags(soup):
    for tag in soup.find_all(["sup", "span"]):
        tag.decompose()

def get_info_box(url):
    website = requests.get(url).content
    soup = BeautifulSoup(website, 'lxml')
    info_box = soup.find(class_="infobox vevent")
    info_rows = info_box.select("tr")
    
    clean_tags(soup)
        
    movie_info = {}
    for index, row in enumerate(info_rows):
        if index == 0:
            movie_info['title'] = row.find("th").get_text(" ", strip=True)
        else:
            header = row.find('th') # deals with some links not having .text
            if header:
                content_key = row.find("th").get_text(" ", strip=True)
                content_value = get_content_value(row.find("td"))
                movie_info[content_key] = content_value
            
    return movie_info

In [14]:
get_info_box('https://en.wikipedia.org/wiki/Snow_White_and_the_Seven_Dwarfs_(1937_film)')

{'title': 'Snow White and the Seven Dwarfs',
 'Directed by': ['David Hand',
  'William Cottrell',
  'Wilfred Jackson',
  'Larry Morey',
  'Perce Pearce',
  'Ben Sharpsteen'],
 'Written by': ['Ted Sears',
  'Richard Creedon',
  'Otto Englander',
  'Dick Rickard',
  'Earl Hurd',
  'Merrill De Maris',
  'Dorothy Ann Blank',
  'Webb Smith'],
 'Based on': ['Snow White', 'by The', 'Brothers Grimm'],
 'Produced by': 'Walt Disney',
 'Starring': ['Adriana Caselotti',
  'Lucille La Verne',
  'Harry Stockwell',
  'Roy Atwell',
  'Pinto Colvig',
  'Otis Harlan',
  'Scotty Mattraw',
  'Billy Gilbert',
  'Eddie Collins',
  'Moroni Olsen',
  'Stuart Buchanan'],
 'Music by': ['Frank Churchill', 'Paul Smith', 'Leigh Harline'],
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'RKO Radio Pictures',
 'Release dates': ['December 21, 1937 ( Carthay Circle Theatre )',
  'February 4, 1938 (United States)'],
 'Running time': '83 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$1.49 million',
 'Box office': '$418 million'}

### Run script for every link

In [15]:
url = 'https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films'
website = requests.get(url).content
soup = BeautifulSoup(website, 'lxml')

movie_list = []

for index, movie in enumerate(movies['link']):
    try:
        movie_list.append(get_info_box(movie))
    except Exception as e:
        print(movie)
        print(e)

https://en.wikipedia.org/wiki/Zorro_(1957_TV_series)#Theatrical
'NoneType' object has no attribute 'find'
https://en.wikipedia.org/wiki/Zorro_(1957_TV_series)#Theatrical
'NoneType' object has no attribute 'find'
https://en.wikipedia.org/wiki/The_Omega_Connection
'NoneType' object has no attribute 'find'
https://en.wikipedia.org/wiki/The_Beatles:_Get_Back#The_Beatles:_Get_Back_–_The_Rooftop_Concert
'NoneType' object has no attribute 'find'
https://en.wikipedia.org/wiki/Chris_Paul
'NoneType' object has no attribute 'select'
https://en.wikipedia.org/wiki/All_Night_Long_(All_Night)
'NoneType' object has no attribute 'find'
https://en.wikipedia.org/wiki/Keeper_of_the_Lost_Cities#Film_adaptation
'NoneType' object has no attribute 'select'
https://en.wikipedia.org/wiki/Jim_Henson#Legacy
'NoneType' object has no attribute 'select'
https://en.wikipedia.org/wiki/Sister_Act_3
'NoneType' object has no attribute 'find'
https://en.wikipedia.org/wiki/The_Thief_(Turner_novel)
'NoneType' object has no attribute 'select'
https://en.wikipedia.org/wiki/Tom_Sawyer
'NoneType' object has no attribute 'select'
https://en.wikipedia.org/wiki/The_Twilight_Zone_Tower_of_Terror#Film_adaptation
'NoneType' object has no attribute 'select'
https://en.wikipedia.org/wiki/Tron:_Ares
'NoneType' object has no attribute 'find'
https://en.wikipedia.org/wiki/FC_Barcelona
'NoneType' object has no attribute 'select'
https://en.wikipedia.org/wiki/Gertrude_Ederle
'NoneType' object has no attribute 'select'

In [16]:
total_links = len(movies['link'])

In [17]:
print(f'{len(movie_list)}/{total_links} scraped.')

520/535 scraped.

## Export file

In [18]:
import json

def save_data(title, data):
    with open (title, 'w', encoding='utf-8') as f:
        json.dump(data, f, ensure_ascii=False, indent=2)
        
def load_data(title):
    with open(title, encoding='utf-8') as f:
        return json.load(f)

In [19]:
save_data("disney_data.json", movie_list)

## Load Data In

In [20]:
movie_raw = load_data("disney_data.json")

In [21]:
movie_raw[1:5]

[{'title': 'Snow White and the Seven Dwarfs',
  'Directed by': ['David Hand',
   'William Cottrell',
   'Wilfred Jackson',
   'Larry Morey',
   'Perce Pearce',
   'Ben Sharpsteen'],
  'Written by': ['Ted Sears',
   'Richard Creedon',
   'Otto Englander',
   'Dick Rickard',
   'Earl Hurd',
   'Merrill De Maris',
   'Dorothy Ann Blank',
   'Webb Smith'],
  'Based on': ['Snow White', 'by The', 'Brothers Grimm'],
  'Produced by': 'Walt Disney',
  'Starring': ['Adriana Caselotti',
   'Lucille La Verne',
   'Harry Stockwell',
   'Roy Atwell',
   'Pinto Colvig',
   'Otis Harlan',
   'Scotty Mattraw',
   'Billy Gilbert',
   'Eddie Collins',
   'Moroni Olsen',
   'Stuart Buchanan'],
  'Music by': ['Frank Churchill', 'Paul Smith', 'Leigh Harline'],
  'Production company': 'Walt Disney Productions',
  'Distributed by': 'RKO Radio Pictures',
  'Release dates': ['December 21, 1937 ( Carthay Circle Theatre )',
   'February 4, 1938 (United States)'],
  'Running time': '83 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$1.49 million',
  'Box office': '$418 million'},
 {'title': 'Pinocchio',
  'Directed by': ['Ben Sharpsteen',
   'Hamilton Luske',
   'Bill Roberts',
   'Norman Ferguson',
   'Jack Kinney',
   'Wilfred Jackson',
   'T. Hee'],
  'Story by': ['Ted Sears',
   'Otto Englander',
   'Webb Smith',
   'William Cottrell',
   'Joseph Sabo',
   'Erdman Penner',
   'Aurelius Battaglia'],
  'Based on': ['The Adventures of Pinocchio', 'by', 'Carlo Collodi'],
  'Produced by': 'Walt Disney',
  'Starring': ['Cliff Edwards',
   'Dickie Jones',
   'Christian Rub',
   'Walter Catlett',
   'Charles Judels',
   'Evelyn Venable',
   'Frankie Darro'],
  'Music by': ['Leigh Harline', 'Paul J. Smith'],
  'Production company': 'Walt Disney Productions',
  'Distributed by': 'RKO Radio Pictures',
  'Release dates': ['February 7, 1940 ( Center Theatre )',
   'February 23, 1940 (United States)'],
  'Running time': '88 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$2.6 million',
  'Box office': '$164 million'},
 {'title': 'Fantasia',
  'Directed by': ['Samuel Armstrong',
   'James Algar',
   'Bill Roberts',
   'Paul Satterfield',
   'Ben Sharpsteen',
   'David D. Hand',
   'Hamilton Luske',
   'Jim Handley',
   'Ford Beebe',
   'T. Hee',
   'Norman Ferguson',
   'Wilfred Jackson'],
  'Story by': ['Joe Grant', 'Dick Huemer'],
  'Produced by': ['Walt Disney', 'Ben Sharpsteen'],
  'Starring': ['Leopold Stokowski', 'Deems Taylor'],
  'Narrated by': 'Deems Taylor',
  'Cinematography': 'James Wong Howe',
  'Music by': 'See program',
  'Production company': 'Walt Disney Productions',
  'Distributed by': 'RKO Radio Pictures',
  'Release date': ['November 13, 1940'],
  'Running time': '126 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$2.28 million',
  'Box office': '$76.4–$83.3 million (United States and Canada)'},
 {'title': 'The Reluctant Dragon',
  'Directed by': ['Alfred Werker',
   '(live action)',
   'Hamilton Luske',
   '(animation)',
   'Jack Cutting',
   ',',
   'Ub Iwerks',
   ',',
   'Jack Kinney',
   '(sequence directors)'],
  'Written by': ['Live-action:',
   'Ted Sears',
   'Al Perkins',
   'Larry Clemmons',
   'Bill Cottrell',
   'Harry Clork',
   'Robert Benchley',
   'The Reluctant Dragon',
   'segment:',
   'Kenneth Grahame',
   '(original book)',
   'Erdman Penner',
   'T. Hee',
   'Baby Weems',
   'segment:',
   'Joe Grant',
   'Dick Huemer',
   'John Miller'],
  'Produced by': 'Walt Disney',
  'Starring': ['Robert Benchley',
   'Frances Gifford',
   'Buddy Pepper',
   'Nana Bryant'],
  'Cinematography': 'Bert Glennon',
  'Edited by': 'Paul Weatherwax',
  'Music by': ['Frank Churchill', 'Larry Morey'],
  'Production company': 'Walt Disney Productions',
  'Distributed by': 'RKO Radio Pictures',
  'Release date': ['June 27, 1941'],
  'Running time': '74 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$600,000',
  'Box office': '$960,000 (worldwide rentals)'}]

## Further cleaning

__Cleaning__:

- Convert time to int
- Convert date to datetime
- Convert revenue, budget, etc to int

In [22]:
# for movie in movies, get the running time, if it does not have one, make it equal to N/A
x = [movie.get('Running time', 'N/A') for movie in movie_raw]
x[20:40]

['77 minutes',
 '92 minutes',
 '69 minutes',
 '81 minutes',
 ['60 minutes (VHS version)', '71 minutes (original)'],
 '127 minutes',
 '93 minutes',
 '76 minutes',
 '75 minutes',
 '73 minutes',
 '85 minutes',
 '81 minutes',
 '70 minutes',
 '90 min.',
 '80 minutes',
 '75 minutes',
 '83 minutes',
 '83 minutes',
 '72 minutes',
 '97 minutes']

- Convert time to int

In [23]:
def convert_time(running_time):
    if running_time == 'N/A': # if it has no value
        return None
    elif isinstance(running_time, list): # deals with lists by only taking first value
        entry = running_time[0]
        return int(entry.split(" ")[0])
    else:
        return int(running_time.split(" ")[0])

In [24]:
for movie in movie_raw:
    # add a new key to the dictionary with fixed values
    movie['Running time (int)'] = convert_time(movie.get('Running time', 'N/A'))

In [25]:
movie_raw[-1]

{'title': 'The Rocketeer',
 'Directed by': 'Joe Johnston',
 'Screenplay by': ['Danny Bilson', 'Paul De Meo'],
 'Story by': ['Danny Bilson', 'Paul De Meo', 'William Dear'],
 'Based on': ['The Rocketeer', 'by', 'Dave Stevens'],
 'Produced by': ['Charles Gordon', 'Lawrence Gordon', 'Lloyd Levin'],
 'Starring': ['Bill Campbell',
  'Alan Arkin',
  'Jennifer Connelly',
  'Paul Sorvino',
  'Timothy Dalton'],
 'Cinematography': 'Hiro Narita',
 'Edited by': ['Michael A. Stevenson', 'Arthur Schmidt'],
 'Music by': 'James Horner',
 'Production companies': ['Walt Disney Pictures',
  'Touchstone Pictures',
  'Silver Screen Partners IV',
  'Gordon Company'],
 'Distributed by': 'Buena Vista Pictures Distribution',
 'Release date': ['June 21, 1991'],
 'Running time': '108 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$35-40 million',
 'Box office': '$46.7 million (USA)',
 'Running time (int)': 108}

- Convert revenue, budget, etc to int

In [26]:
[movie.get('Budget', 'N/A') for movie in movie_raw]

['N/A',
 '$1.49 million',
 '$2.6 million',
 '$2.28 million',
 '$600,000',
 '$950,000',
 '$858,000',
 'N/A',
 '$788,000',
 'N/A',
 '$1.35 million',
 '$2.125 million',
 'N/A',
 '$1.5 million',
 '$1.5 million',
 'N/A',
 '$2.2 million',
 '$1,800,000',
 '$3 million',
 'N/A',
 '$4 million',
 '$2 million',
 '$300,000',
 '$1.8 million',
 'N/A',
 '$5 million',
 'N/A',
 '$4 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$700,000',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$6 million',
 'under $1 million or $1,250,000',
 'N/A',
 '$2 million',
 'N/A',
 'N/A',
 '$2.5 million',
 'N/A',
 'N/A',
 '$4 million',
 '$3.6 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$3 million',
 'N/A',
 '$3 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$3 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$4.4–6 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$4 million',
 'N/A',
 '$5 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$5 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$4 million',
 'N/A',
 'N/A',
 'N/A',
 '$6.3 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$5 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$8 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'AU$1 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$5 million',
 'N/A',
 'N/A',
 'N/A',
 '$7.5 million',
 'N/A',
 '$10 million',
 'N/A',
 'N/A',
 '$3.5 to 4 million',
 'N/A',
 'N/A',
 'N/A',
 '$5.25 million',
 '$20 million',
 'N/A',
 '$9 million',
 'N/A',
 '$6-8 million',
 '$20 million',
 'N/A',
 'N/A',
 '$18 million',
 '$12 million',
 '$14 million',
 'N/A',
 '$17 million',
 '$5 million',
 'unknown',
 '$20 million',
 '$11 million',
 '$28 million',
 '$44 million',
 'N/A',
 'N/A',
 '$14 million',
 '$9 million',
 'N/A',
 'A$8.7 million',
 '$31 million',
 '$18 million',
 '$5 million',
 '$40 million',
 '$20 million',
 'N/A',
 '$14 million',
 '60 million Norwegian Kroner (around $8.7 million in 1989)',
 'N/A',
 '$35-40 million',
 '$25 million',
 '$15 million',
 '$32 million',
 '$14 million',
 '$28 million',
 '$12 million',
 'N/A',
 'N/A',
 '$6.5 million',
 '$28 million',
 '$17 million',
 '$30 million',
 'N/A',
 '$13 million',
 'N/A',
 'N/A',
 '$45 million',
 '$31 million',
 'N/A',
 '$22 million',
 '$30 million',
 'N/A',
 '$22 million',
 ['$32 million', '(estimated)'],
 '$18 million',
 '$55 million',
 '$24 million',
 '$15 million',
 '$12 million',
 'N/A',
 '$30 million',
 'N/A',
 '$31 million',
 'N/A',
 '$38 million',
 '$70 million',
 '$15 million',
 'N/A',
 '$67 million',
 'N/A',
 '$32 million',
 '$7 million',
 '$85 million',
 '$55 million',
 '$3 million',
 '$16 million',
 '$80 million',
 '$30 million',
 '$24 million',
 '$90 million',
 '$15 million',
 'N/A',
 '$30 million',
 '$120 million',
 '$90 million',
 '$65 million',
 '$5 million',
 'N/A',
 '$130 million',
 '$75–90 million',
 '$10 million',
 '$90 million',
 '$15 million –$30 million',
 '$4,000,000 (estimated)',
 '$127.5 million',
 '$80–$85 million',
 '$65 million',
 'N/A',
 '$30 million',
 '$85 million',
 '$100 million',
 '$23 million',
 'N/A',
 '$90–120 million',
 '$26 million',
 '$25 million',
 '$115 million',
 'N/A',
 '$33 million',
 '$20 million',
 '$5 million',
 'N/A',
 '$22 million',
 '$80 million',
 '$35 million',
 '(US$15–19.2 million)',
 '$15 million',
 '$65 million',
 '$140 million',
 'N/A',
 '$20 million',
 '$12 million',
 '$46 million',
 '$13 million',
 '$20 million',
 '$17 million',
 '$94 million',
 '$140 million',
 '$26 million',
 'N/A',
 'N/A',
 '$46 million',
 '$90 million',
 'N/A',
 '$10 million',
 '$28 million',
 'N/A',
 '$15 million',
 'N/A',
 '$110 million',
 'N/A',
 '$110 million',
 'N/A',
 '$45 million',
 'N/A',
 '$92–145 million',
 'N/A',
 '$100 million',
 'N/A',
 'N/A',
 '$20 million',
 '$56 million',
 '$25 million',
 'N/A',
 '$50 million',
 ['¥', '2.4 billion', 'US$24 million'],
 '$35 million',
 '$35 million',
 'N/A',
 'N/A',
 '$25 million',
 '$150 million',
 '$180 million',
 'N/A',
 '$30 million',
 '$1 million',
 'N/A',
 '$40 million',
 '$50 million',
 '$80 million',
 '$120 million',
 'N/A',
 '$225 million',
 '$30 million',
 'N/A',
 '$24 million',
 '$12 million',
 'N/A',
 '$8 million',
 '$17 million',
 '$150 million',
 '$300 million',
 '$150 million',
 'N/A',
 '$25 million',
 'N/A',
 '$22 million',
 '$85 million',
 '$130 million',
 '$7 million',
 '$25 million',
 '$225 million',
 '$180 million',
 'N/A',
 '$20 million',
 'N/A',
 '$11 million',
 'N/A',
 '$50 million',
 '$150 million',
 '$80 million',
 'N/A',
 '$50 million',
 '$30 million',
 '$47 million',
 'N/A',
 '$175 million',
 'N/A',
 '$150 million',
 ['¥', '3.4 billion', '(', 'US$', '34 million)'],
 'N/A',
 '$30—$35 million',
 '$8 million ( ₽ 350 million)',
 '$175–200 million',
 '$35 million',
 '$105 million',
 '$150 –$200 million',
 '$80 million',
 '$150–200 million',
 '$200 million',
 '$150 million',
 '$22 million',
 'N/A',
 '$30—$35 million',
 '$35 million',
 'N/A',
 '$260 million',
 '$170 million',
 '',
 'N/A',
 'N/A',
 '$150 million',
 'N/A',
 '$5 million',
 '$8 million',
 ['$410.6 million (gross)', '$378.5 million (net)'],
 '$200 million',
 '$30 million',
 'N/A',
 '$45 million',
 'N/A',
 '$23 million',
 ['$306.6 million (gross)', '$263.7 million (net)'],
 '$5 million',
 'N/A',
 '$185 million',
 '$25 million',
 'N/A',
 '$39 million',
 '$30—35 million',
 '$165 million',
 '$200 million',
 'N/A',
 '$200 million',
 '$225–250 million',
 '$50 million',
 'N/A',
 '$150 million',
 '$35 million',
 '$50 million',
 'N/A',
 '$5 million',
 '$25 million',
 '$180–263 million',
 '$50 million',
 '(US$3.0 million)',
 '$28 million',
 '$165 million',
 '$50 million',
 '$17 million',
 'N/A',
 '$84.21-95 million',
 '$5–10 million',
 '$180–190 million',
 '$175 million',
 '',
 '$175–200 million',
 '$70–80 million',
 '$150 million',
 '$175–177 million',
 'N/A',
 '$170 million',
 '$175–200 million',
 '$140 million',
 '$65 million',
 '$15 million',
 '$150–175 million',
 '',
 '$8 million',
 '$160–255 million',
 '$5–10 million',
 '$230–320 million',
 '$175 million',
 'N/A',
 ['131 crore'],
 ['~$8 million', '₽', '370 million'],
 '$175–225 million',
 '$100–130 million',
 '$200 million',
 '$75 million',
 '$120–133 million',
 '$175 million',
 '$130 million',
 '$170 million',
 'N/A',
 '$183 million',
 '$200 million',
 '$250–260 million',
 '$185 million',
 '$60 million',
 'N/A',
 '$150 million',
 '$40 million',
 '$42 million',
 '$175–200 million',
 'N/A',
 'N/A',
 'N/A',
 '$125 million',
 '$12.5 million (stage production)',
 'N/A',
 '$24 million',
 'N/A',
 '$200 million',
 'Unknown',
 '$26 million',
 '$150 million',
 '₽ 650 million',
 'N/A',
 '$100 million+',
 '$100–200 million',
 'N/A',
 '$200 million',
 '$120–150 million',
 'N/A',
 '₽ 454 million',
 'N/A',
 '$175 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$11 million',
 'N/A',
 '$28 million',
 '$858,000',
 '$53.4 million',
 'N/A',
 '$85 million',
 '$70 million',
 '$75–90 million',
 '$80 million',
 '$130 million',
 'N/A',
 '$5 million',
 'N/A',
 'N/A',
 '$18 million or $25 million',
 'N/A',
 '$4 million',
 '$3 million',
 'N/A',
 '$35-40 million']

In [27]:
[movie.get('Box office', 'N/A') for movie in movie_raw]

['$45.472',
 '$418 million',
 '$164 million',
 '$76.4–$83.3 million (United States and Canada)',
 '$960,000 (worldwide rentals)',
 '>$1.3 million (est. United States/Canada rentals, 1941)',
 '$267.4 million',
 '$1.135 million (worldwide rentals)',
 '$799,000',
 '$3.355 million (worldwide rentals)',
 '$3.275 million (worldwide rentals)',
 '$65 million',
 '$3.165 million (worldwide rentals)',
 '$2.56 million (worldwide rentals)',
 '$3.7 million (U.S. rental) $575,000 (foreign rental)',
 '$1.625 million (worldwide rentals)',
 '$182 million',
 '$4,100,000 (worldwide rentals)',
 ['$2.4 million (1951, domestic)', '$3.5 million (1974, domestic)'],
 '$2.1 million (US rentals)',
 '$87.4 million (United States and Canada)',
 '$1 million (US)',
 '$2.6 million (US)',
 'N/A',
 '$1.75 million (US and Canadian rentals)',
 '$28.2 million',
 '$2,150,000 (US)',
 '$187 million',
 '$2.1 million (US)',
 '$1.6 million (US)',
 '$1.7 million (US)',
 'N/A',
 'N/A',
 '$2.75 million (US)',
 'N/A',
 '$1.75 million (US rentals)',
 '$6,250,000 (U.S./Canada rentals)',
 'N/A',
 '$1.8 million (est. US/Canada rentals)',
 '$2.5 million (est. US/ Canada rentals)',
 '$51.6 million (United States and Canada)',
 '$12.3 million (US and Canada rentals)',
 ['Original release',
  ':',
  '$2.6 million (est. US/ Canada rentals)',
  '1969 re-release',
  ':',
  '$2.3 million  (US/ Canada rentals)'],
 '$1,700,000 (US/Canada rentals)',
 '$3,100,000 (US/Canada rentals)',
 'N/A',
 '$3.75 million (US and Canadian rentals)',
 '$2.3 million (US and Canadian rentals)',
 'N/A',
 '$40 million',
 '$303 million',
 '$25.4 million',
 '$25.1 million',
 'N/A',
 'N/A',
 '$4.6 million (U.S./Canada rentals)',
 '$3.5 million',
 '$5 million (rentals)',
 'N/A',
 'N/A',
 'N/A',
 '$21,745,500',
 '$22.1 million',
 '$2,550,000 (US/ Canada)',
 '$3,000,000 (U.S./Canada)',
 '$4,350,000 (US/ Canada rentals)',
 '$4.2 million (US/Canada) (rentals)',
 '$22.2 million (United States and Canada)',
 'est. $1,600,000 (US/ Canada)',
 '$4,000,000 (US/ Canada)',
 '$2,250,000 (US/ Canada)',
 'est. $3,500,000 (US/ Canada)',
 '$103.1 million',
 '$3,500,000 (US/ Canada rentals)',
 '$1,275,000',
 '$4,000,000 (US/Canada rentals)',
 '$28,068,222',
 '$6.2 million (est. US/ Canada rentals)',
 '$22,565,634',
 'N/A',
 '$16,207,116',
 '$3,000,000 (US/ Canada)',
 '$1,900,000 (US/ Canada)',
 '$4,000,000 (US/ Canada)',
 '$378 million',
 'N/A',
 '$5 million (U.S./Canada rentals)',
 '$21,540,050',
 '$2,250,000 (US/ Canada)',
 '$4,150,000 (US/ Canada rentals)',
 '$3.3 million  (US/ Canada rentals)',
 '$51.3 million',
 '$1.3 million (US/ Canada rentals)',
 'N/A',
 '$5.5 million (US/ Canada rentals)',
 'N/A',
 '$18,607,492',
 '$4 million (rentals) (US/Canada)',
 '$191 million',
 'N/A',
 'N/A',
 '$5.1 million (North America) (rentals)',
 '$17.9 million',
 'N/A',
 '$4,610,000 (US/Canada) (rentals)',
 'N/A',
 'N/A',
 '$6,100,000 (US/ Canada rentals)',
 '$22,583,370',
 'N/A',
 '$2 million',
 '$33 million',
 '$7 million (US/Canada rentals)',
 ['$38,229,000 (US/Canada gross)', '$30.8 million (worldwide rentals)'],
 '$4 million (rentals) (US/Canada)',
 'N/A',
 '$10 million (US/Canada rentals)',
 '$6.6 million (US/Canada rentals)',
 '$20,000,000',
 '$36,853,000',
 '$5.5 million (North American rentals)',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$21,873,000',
 '$10.5 million (US and Canada rentals)',
 '$36 million',
 'N/A',
 'N/A',
 'N/A',
 '$169 million',
 '$29 million',
 '$36 –39.6 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$20,931,111',
 '$4.475 million (US/Canada rentals )',
 ['$35.8 million'],
 '$2.9 million',
 '$5 million',
 '$18 million',
 '$11 million',
 '$60 million',
 '$16 million (USA)',
 'N/A',
 '$14.1 million',
 '$63.5 million',
 'N/A',
 '$8 million',
 '$50 million',
 '$7.4 million',
 '$4,304,286 (US)',
 '$8.4 million',
 '$27.6 million',
 '$11.1 million (USA)',
 '$21.3 million',
 '$9.7 million (U.S. and Canada only)',
 '$13 million',
 '$38.7 million',
 '$18,564,613',
 '$22.3 million',
 '$13,687,027',
 '>$121 million',
 '$222.7 million',
 '$8,153,677 (United States)',
 '',
 '$18.1 million',
 '$47.4 million',
 '$34.8 million',
 '$15.1 million',
 '$7.3 million',
 '$46.7 million (USA)',
 '$440.1 million',
 '$2.8 million',
 '$96 million',
 '$50.8 million',
 '$504.1 million',
 '$27.2 million',
 '$57 million',
 '$12.9 million',
 '$24.1 million',
 '$45.4 million',
 '$154.9 million',
 '$111 million',
 '$21 million',
 '$39 million',
 '$45.6 million',
 '$8,878,839 (US)',
 '$968.5 million',
 '$50.2 million',
 '$3,337,685',
 '$189.8 million',
 '$70.7 million',
 '$17.6 million',
 '$40,070,995',
 '$11 million',
 '$37.6 million',
 '$346.1 million',
 '$24,670,346',
 '$13.4 million (domestic)',
 '$17.7 million',
 'N/A',
 '$373 million',
 '$23.9 million (US)',
 '$34.3 million (North America)',
 '$32.7 million',
 '$37.7 million',
 '$325.3 million',
 '$26,465,920 (USA)',
 '$22.9 million',
 '$320.7 million',
 '$18.3 million',
 '$59.9 million',
 'N/A',
 '$252.7 million',
 '$174.4 million',
 '$27.8 million',
 '$15.4 million',
 '$178 million',
 '$28.9 million',
 '$4.4 million',
 '$304.3 million',
 '$92.1 million',
 'N/A',
 '$12.2 million',
 '$363.3 million',
 '$50.6 million (US)',
 '$36.8 million',
 '$19.4 million',
 'N/A',
 '$448.2 million',
 '$134.4 million',
 '$6.2 million',
 '$497.4 million',
 '$96.2 million',
 '$500,000 (USA) (30 November 2000)',
 '$349.8 million',
 '$90.9 million',
 '$110.3 million',
 'N/A',
 '$136.8 million',
 '$183.6 million',
 '$169.6 million',
 '$44.5 million',
 'N/A',
 '$186.1 million',
 '$165.3 million',
 '$18.6 million',
 '$577.4 million',
 'N/A',
 '$115 million',
 '$115.1 million',
 'N/A',
 'N/A',
 '$80.7 million',
 '$273.1 million',
 '$18 million',
 '',
 '$19.3 million',
 '$172.9 million',
 '$110 million',
 'N/A',
 '$135.7 million',
 'N/A',
 '$62.9 million',
 '$28.7 million',
 '$71.4 million',
 '$55.5 million',
 '$940.3 million',
 '$654.3 million',
 '$160.8 million',
 'N/A',
 'N/A',
 '$250.4 million',
 '$182.3 million',
 '$9,638,389',
 '$6.5 million',
 '$64.5 million',
 'N/A',
 '$105.1 million',
 'N/A',
 '$145.5 million',
 '$1,108,356',
 '$72.2 million',
 '$314,402',
 '$134.7 million',
 'N/A',
 '$631.6 million',
 'N/A',
 '$347.5 million',
 '$9 million',
 'N/A',
 '$52.9 million',
 '$198.6 million',
 '$27.6 million',
 'N/A',
 '$144.1 million',
 ['¥', '23.2 billion', 'US$236 million (worldwide)'],
 '$86.4 million',
 '$61.7 million',
 'N/A',
 'N/A',
 '$15.4 million',
 '$314.4 million',
 '$745 million',
 'N/A',
 '$42.9 million',
 '$11 million',
 '$35 Million',
 '$120.5 million',
 '$87.1 million',
 '$102.3 million',
 '$462 million',
 'N/A',
 '$1.066 billion',
 '$58.5 million',
 'N/A',
 '$91.5 million',
 '$110.8 million',
 'N/A',
 'N/A',
 '$137.6 million',
 '$169.3 million',
 '$960.9 million',
 '$623.7 million',
 'N/A',
 '$65.3 million',
 'N/A',
 '$146.6 million',
 '$340.5 million',
 '$459.2 million',
 '$70.6 million',
 '$51.5 million',
 '$419.7 million',
 '$521.3 million',
 'N/A',
 '$149.3 million',
 '$275,776',
 '$252.9 million',
 '$2 million',
 '$9.2 million',
 '$310 million',
 '$212.9 million',
 '$23.1 million',
 '$106.4 million',
 '$155.5 million',
 '$109 million',
 '$55,513',
 '$735.1 million',
 'N/A',
 '$292.8 million',
 'US$ 204.8 million',
 'N/A',
 '$8,582,265',
 '$11.3 million',
 '$325 million',
 '$96.8 million',
 '$271 million',
 '$1.025 billion',
 '$82.7 million',
 '$336.4 million',
 '$1.067 billion',
 '$215.3 million',
 '',
 'N/A',
 '$10,872,752',
 '$60.3 million',
 'N/A',
 '$592.4 million',
 '$400.1 million',
 'N/A',
 '$29.6 million',
 'N/A',
 '$39.2 million',
 'N/A',
 '$30.9 million',
 '$10.7 million',
 '$1.046 billion',
 '$559.8 million',
 '$50.1 million',
 'N/A',
 '$165.2 million',
 'N/A',
 '$146 million',
 '$284.1 million',
 '$34.8 million',
 'N/A',
 '$540.4 million',
 '$56 million',
 '$12.2 million',
 '$81.5 million',
 '$67.5 million',
 '$471.2 million',
 '$493.3 million',
 'N/A',
 '$743.6 million',
 '$260.5 million',
 '$239.3 million',
 'N/A',
 '$1.280 billion',
 '$117.9 million',
 '$80.4 million',
 '$64.9 million',
 '$21.3 million',
 '$40.2 million',
 '$758.5 million',
 '$147 million',
 'est. (US$10 million)',
 '$100.6 million',
 '$657.9 million',
 '$213.1 million',
 '$45.7 million',
 '$31.2 million (non-US box office)',
 '$542.4 million',
 '$17.1 million',
 '$209 million',
 '$858.8 million',
 'est.',
 '$332.2 million',
 '$52.1 million',
 '$1.024 billion',
 '$966.6 million',
 '$17 million',
 '$299.5 million',
 '$1.029 billion',
 '$195.2 million',
 '$143.7 million',
 '$10.4 million',
 '$645 million',
 'est.',
 '$127.4 million',
 '$1.264 billion',
 '$25.1 million',
 '$794.9 million',
 '$383.9 million',
 'N/A',
 '83 crore',
 ['$30.5 million', '₽', '1.731 billion'],
 '$807.8 million',
 '$132.7 million',
 '$1.245 billion',
 '$197.7 million',
 '$174 million',
 '$529.3 million',
 '$349.5 million',
 '$353.3 million',
 '$7.7\n million',
 '',
 '$1.073 billion',
 '$1.663 billion',
 '$491.7 million',
 'N/A',
 'N/A',
 '$1.450 billion',
 'N/A',
 'N/A',
 '$141.9 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$70 million',
 'N/A',
 'N/A',
 '$121 million',
 ['₽ 2.046 billion',
  '$28.3 million (Worldwide)',
  '$28.6 million (Russia/ CIS )'],
 'N/A',
 '$130.4 million',
 '$233.5 million',
 '$49.8 million',
 '$220.9 million',
 '$254.2 million',
 'N/A',
 ['₽ 2.196 billion', '$27 million'],
 'N/A',
 '$15.5 million',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '$240 million',
 'N/A',
 '$100.6 million',
 '$267.4 million',
 'N/A',
 'N/A',
 '$252.7 million',
 '$325.3 million',
 '$134.4 million',
 '$273.1 million',
 '$459.2 million',
 'N/A',
 '$33 million',
 'N/A',
 'N/A',
 '$9,697,739 (USA)',
 'N/A',
 '$191 million',
 '$22.2 million (United States and Canada)',
 'N/A',
 '$46.7 million (USA)']

Examples:
- $45.472
- $76.4 - $83.3 million (United States and Canada)
- >$1.3 million
- $799,000
- lists
- $6,250,000
- $36 - 39.6 million
- empty strings
- different currencies

In [28]:
import re

amounts = r"thousand|million|billion"
number = r"\d+(,\d{3})*\.*\d*"

word_re = rf"\${number}(-|\sto\s|–|\s-|\s-\s)?({number})?\s({amounts})"
value_re = rf"\${number}"

# \d+  one or more digits 
# (,\d{3})*  a comma followed by three digits and the star means zero or more of this combo
# \.*  a decimal point, zero or more 
# \d* zero or more numbers
# \${number} makes it so that you have the dollar sign followed by a number 
# \s space
# (-|\sto\s|–) - or, space to space, or -
# ? it exists or it does not exist


def word_to_value(word):
    value_dict = {"thousand": 1000, "million": 1000000, "billion": 1000000000}
    return value_dict[word]

def parse_word_syntax(string):
    value_string = re.search(number, string).group()
    value = float(value_string.replace(",", ""))
    word = re.search(amounts, string, flags=re.I).group().lower()
    word_value = word_to_value(word)
    return value*word_value

def parse_value_syntax(string):
    value_string = re.search(number, string).group()
    value = float(value_string.replace(",", ""))
    return value

'''
money_conversion("$12.2 million") --> 12200000 ## Word syntax
money_conversion("$790,000") --> 790000        ## Value syntax
'''

def money_conversion(money):
    if money == "N/A":
        return None

    if isinstance(money, list):
        money = money[0]
        
    word_syntax = re.search(word_re, money, flags=re.I)
    value_syntax = re.search(value_re, money)

    if word_syntax:
        return parse_word_syntax(word_syntax.group())

    elif value_syntax:
        return parse_value_syntax(value_syntax.group())

    else:
        return None

In [29]:
money_conversion("$36 - 39.6 million")

36000000.0

In [30]:
for movie in movie_raw:
    movie['Budget (float)'] = money_conversion(movie.get('Budget', "N/A"))
    movie['Box office (float)'] = money_conversion(movie.get('Box office', "N/A"))

In [31]:
print([movie['Budget (float)'] for movie in movie_raw[0:10]])

[None, 1490000.0, 2600000.0, 2280000.0, 600000.0, 950000.0, 858000.0, None, 788000.0, None]

In [32]:
print([movie['Box office (float)'] for movie in movie_raw[0:10]])

[45.472, 418000000.0, 164000000.0, 83300000.0, 960000.0, 1300000.0, 267399999.99999997, 1135000.0, 799000.0, 3355000.0]

- Convert date to datetime

In [33]:
print([movie.get('Release dates', 'N/A') for movie in movie_raw[0:10]])
print('\n')
print([movie.get('Release date', 'N/A') for movie in movie_raw[0:10]])

['N/A', ['December 21, 1937 ( Carthay Circle Theatre )', 'February 4, 1938 (United States)'], ['February 7, 1940 ( Center Theatre )', 'February 23, 1940 (United States)'], 'N/A', 'N/A', ['October 23, 1941 (New York City)', 'October 31, 1941 (U.S.)'], ['August 9, 1942 (World Premiere – London)', 'August 13, 1942 (Premiere – New York City)', 'August 21, 1942 (U.S.)'], ['August 24, 1942 (World Premiere – Rio de Janeiro)', 'February 6, 1943 (U.S. Premiere – Boston)', 'February 19, 1943 (U.S.)'], 'N/A', ['December 21, 1944 (Mexico City)', 'February 3, 1945 (US)']]


[['May 19, 1937'], 'N/A', 'N/A', ['November 13, 1940'], ['June 27, 1941'], 'N/A', 'N/A', 'N/A', ['July 17, 1943'], 'N/A']

Release date and release dates

In [34]:
from datetime import datetime

In [35]:
# get rid of brackets and leave following format: May 23, 2012
dates_1 = [movie.get('Release date', 'N/A') for movie in movie_raw]
dates_2 = [movie.get('Release dates', 'N/A') for movie in movie_raw]

In [36]:
# June 28, 1950

def clean_date(date):
    return date.split("(")[0].strip()

def date_conversion(date):
    if isinstance(date, list):
        date = date[0]
        
    if date == "N/A":
        return None
        
    date_str = clean_date(date)

    fmts = ["%B %d, %Y", "%d %B %Y"]
    for fmt in fmts:
        try:
            return datetime.strptime(date_str, fmt)
        except:
            pass
    return None

In [37]:
# join release date and release dates to a new dictionary key and then apply datetime function

# start of by making a new dictionary key
for movie in movie_raw:
    movie['Release date temp'] = ''

# add release dates and release date to list
for movie in movie_raw:
    try:
        movie['Release date temp'] = movie['Release date']
    except:
        pass

for movie in movie_raw:
    try:
        movie['Release date temp'] = movie['Release dates']
    except:
        pass

In [38]:
for movie in movie_raw:
    movie['Release date (datetime)'] = date_conversion(movie.get('Release date temp', 'N/A'))

## Save cleaned file

In [39]:
# cannot save datetime to JSON therefore use pickle
import pickle

with open('cleaned_disney_data.pkl', 'wb') as f:
    pickle.dump(movie_raw, f)
        
with open('cleaned_disney_data.pkl', 'rb') as f:
    loaded_dict = pickle.load(f)

In [40]:
loaded_dict[0:1]

[{'title': 'Academy Award Review of',
  'Production company': 'Walt Disney Productions',
  'Distributed by': 'United Artists',
  'Release date': ['May 19, 1937'],
  'Running time': '41 minutes (74 minutes 1966 release)',
  'Country': 'United States',
  'Language': 'English',
  'Box office': '$45.472',
  'Running time (int)': 41,
  'Budget (float)': None,
  'Box office (float)': 45.472,
  'Release date temp': ['May 19, 1937'],
  'Release date (datetime)': datetime.datetime(1937, 5, 19, 0, 0)}]

## Attach IMDB/Rotten Tomato/Meta scores

In [41]:
cleaned_data = loaded_dict

In [42]:
cleaned_data[-40]

{'title': 'Encanto',
 'Directed by': ['Jared Bush', 'Byron Howard'],
 'Screenplay by': ['Charise Castro Smith', 'Jared Bush'],
 'Story by': ['Jared Bush',
  'Byron Howard',
  'Charise Castro Smith',
  'Jason Hand',
  'Nancy Kruse',
  'Lin-Manuel Miranda'],
 'Produced by': ['Yvett Merino', 'Clark Spencer'],
 'Starring': ['Stephanie Beatriz',
  'María Cecilia Botero',
  'John Leguizamo',
  'Mauro Castillo',
  'Jessica Darrow',
  'Angie Cepeda',
  'Carolina Gaitán',
  'Diane Guerrero',
  'Wilmer Valderrama'],
 'Cinematography': ['Nathan Warner (layout)',
  'Alessandro Jacomini',
  'Daniel Rice (lighting)'],
 'Edited by': 'Jeremy Milton',
 'Music by': 'Germaine Franco',
 'Production companies': ['Walt Disney Pictures',
  'Walt Disney Animation Studios'],
 'Distributed by': ['Walt Disney Studios', 'Motion Pictures'],
 'Release dates': ['November 3, 2021 ( El Capitan Theatre )',
  'November 24, 2021 (United States)'],
 'Running time': '102 minutes',
 'Country': 'United States',
 'Languages': ['English', 'Spanish'],
 'Budget': '$120–150 million',
 'Box office': '$254.2 million',
 'Running time (int)': 102,
 'Budget (float)': 120000000.0,
 'Box office (float)': 254200000.0,
 'Release date temp': ['November 3, 2021 ( El Capitan Theatre )',
  'November 24, 2021 (United States)'],
 'Release date (datetime)': datetime.datetime(2021, 11, 3, 0, 0)}

### Using omdb api

key: http://www.omdbapi.com/?i=tt3896198&apikey=ef085b75
     https://www.omdbapi.com/?t=encanto&apikey=ef085b75
     http://www.omdbapi.com/?apikey=[yourkey]&
     ef085b75

In [43]:
import requests

def get_ombd_info(title):
    base_url = "http://www.omdbapi.com/?"
    key_url = f't={title}&apikey=ef085b75'
    full_url = base_url + key_url
    
    return requests.get(full_url).json()

def get_rotten_tomato(omdb_info):
    ratings = omdb_info.get('Ratings', []) # if empty, it will make empty list
    for rating in ratings:
        if rating['Source'] == "Rotten Tomatoes":
            return rating['Value']
    return None # if empty return none

'71%'

In [45]:
for movie in movie_raw:
    title = movie['title']
    omdb_info = get_ombd_info(title)
    movie['imdb'] = omdb_info.get('imdbRating', None)
    movie['metascore'] = omdb_info.get('Metascore', None)
    movie['rottentomato'] = get_rotten_tomato(omdb_info)

In [50]:
movie_raw[-100]

{'title': 'Tomorrowland',
 'Directed by': 'Brad Bird',
 'Screenplay by': ['Damon Lindelof', 'Brad Bird'],
 'Story by': ['Damon Lindelof', 'Brad Bird', 'Jeff Jensen'],
 'Produced by': ['Damon Lindelof', 'Brad Bird', 'Jeffrey Chernov'],
 'Starring': ['George Clooney',
  'Hugh Laurie',
  'Britt Robertson',
  'Raffey Cassidy',
  'Tim McGraw',
  'Kathryn Hahn',
  'Keegan-Michael Key'],
 'Cinematography': 'Claudio Miranda',
 'Edited by': ['Walter Murch', 'Craig Wood'],
 'Music by': 'Michael Giacchino',
 'Production companies': ['Walt Disney Pictures', 'A113 Productions'],
 'Distributed by': ['Walt Disney Studios', 'Motion Pictures'],
 'Release dates': ['May 9, 2015 ( Disneyland )',
  'May 22, 2015 (United States)'],
 'Running time': '130 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$180–190 million',
 'Box office': '$209 million',
 'Running time (int)': 130,
 'Budget (float)': 180000000.0,
 'Box office (float)': 209000000.0,
 'Release date temp': ['May 9, 2015 ( Disneyland )',
  'May 22, 2015 (United States)'],
 'Release date (datetime)': datetime.datetime(2015, 5, 9, 0, 0),
 'imdb': '6.4',
 'metascore': '60',
 'rottentomato': '50%'}

## Save data

### JSON

To save as a JSON, convert datetime to string

In [51]:
movie_raw_copy = [movie.copy() for movie in movie_raw]

In [60]:
for movie in movie_raw_copy:
    current_date = movie['Release date (datetime)']
    if current_date:
        movie['Release date (datetime)'] = current_date.strftime("%B %d, %Y")
    else:
        movie['Release date (datetime)'] = None

In [61]:
movie_raw_copy[-35]

{'title': 'Cheaper by the Dozen',
 'Directed by': 'Gail Lerner',
 'Screenplay by': ['Kenya Barris', 'Jenifer Rice-Genzuk Henry'],
 'Story by': ['Craig Titley', 'Kenya Barris', 'Jenifer Rice-Genzuk Henry'],
 'Based on': ['Cheaper by the Dozen',
  'by',
  'Frank B. Gilbreth Jr.',
  'and',
  'Ernestine Gilbreth Carey'],
 'Produced by': 'Kenya Barris',
 'Starring': ['Gabrielle Union', 'Zach Braff', 'Erika Christensen'],
 'Cinematography': 'Mitchell Amundsen',
 'Edited by': 'Troy Takaki',
 'Music by': 'John Paesano',
 'Production companies': ['Walt Disney Pictures', 'Khalabo Ink Society'],
 'Distributed by': 'Disney+',
 'Release dates': ['March 16, 2022 ( El Capitan Theatre )',
  'March 18, 2022 (United States)'],
 'Running time': '107 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Running time (int)': 107,
 'Budget (float)': None,
 'Box office (float)': None,
 'Release date temp': ['March 16, 2022 ( El Capitan Theatre )',
  'March 18, 2022 (United States)'],
 'Release date (datetime)': 'March 16, 2022',
 'imdb': '5.9',
 'metascore': '46',
 'rottentomato': '24%'}

In [62]:
save_data("disney_data_final.json", movie_raw_copy)

### CSV

In [79]:
import pandas as pd

In [80]:
df = pd.DataFrame(movie_raw)

In [81]:
df.shape

(520, 51)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    520 non-null    object
 1   Production company       214 non-null    object
 2   Distributed by           517 non-null    object
 3   Release date             340 non-null    object
 4   Running time             499 non-null    object
 5   Country                  465 non-null    object
 6   Language                 497 non-null    object
 7   Box office               401 non-null    object
 8   Running time (int)       499 non-null    float64
 9   Budget (float)           308 non-null    float64
 10  Box office (float)       389 non-null    float64
 11  Release date temp        520 non-null    object
 12  Release date (datetime)  501 non-null    datetime64[ns]
 13  imdb                     502 non-null    object
 14  metascore                502 non-null    object
 15  rottentomato             370 non-null    object
 16  Directed by              514 non-null    object
 17  Written by               222 non-null    object
 18  Based on                 280 non-null    object
 19  Produced by              505 non-null    object
 20  Starring                 480 non-null    object
 21  Music by                 509 non-null    object
 22  Release dates            173 non-null    object
 23  Budget                   318 non-null    object
 24  Story by                 171 non-null    object
 25  Narrated by              66 non-null     object
 26  Cinematography           390 non-null    object
 27  Edited by                467 non-null    object
 28  Languages                20 non-null     object
 29  Screenplay by            248 non-null    object
 30  Countries                48 non-null     object
 31  Color process            5 non-null      object
 32  Production companies     302 non-null    object
 33  Japanese                 5 non-null      object
 34  Hepburn                  5 non-null      object
 35  Adaptation by            1 non-null      object
 36  Animation by             1 non-null      object
 37  Traditional              2 non-null      object
 38  Simplified               2 non-null      object
 39  Original title           1 non-null      object
 40  Layouts by               2 non-null      object
 41  Original concept by      1 non-null      object
 42  Music                    2 non-null      object
 43  Lyrics                   2 non-null      object
 44  Book                     2 non-null      object
 45  Basis                    2 non-null      object
 46  Productions              2 non-null      object
 47  Awards                   2 non-null      object
 48  Created by               1 non-null      object
 49  Original work            1 non-null      object
 50  Owner                    1 non-null      object
dtypes: datetime64[ns](1), float64(3), object(47)
memory usage: 207.3+ KB

In [83]:
df.to_csv('disney_data_dataframe.csv')