In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet('output.parquet')

save file as csv

In [4]:
df.to_csv('yellow_taxi_data.csv', index=False)

In [5]:
df = pd.read_csv('yellow_taxi_data.csv')

C:\Users\Abdulkadir\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [6]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
airport_fee              float64
dtype: object

In [7]:
df.shape

(2463931, 19)

Export data to postgres db and use python to verify as pgcli not working

- first run the docker container 

 docker run -it \
    -e POSTGRES_USER="root" \
    -e POSTGRES_PASSWORD="root" \
    -e POSTGRES_DB="ny_taxi" \
    -v c:/users/abdulkadir/documents/programming/personal/datascience/zoomcamp/'week 1'/docker_sql/ny_taxi_postgres_data:/var/lib/postgresql/data \
    -p 5432:5432 \
    postgres:13




- and then execute the following code:

In [62]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [49]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

the data is large (2mil rows) so read it in as chunk sizes

In [57]:
from time import time

In [58]:
df_iterator = pd.read_csv('yellow_taxi_data.csv', iterator=True, chunksize=100000) # creats iteration of 100000 chunks

In [60]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') # only gets column names
n = 1
while True:
    t_start = time()
    try:
        df = next(df_iterator) # gets next batch
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        t_end = time()
        print(f'Inserted chunk {100000*n} in {t_end-t_start}')
        n += 1
    except:
        print('Completed!')
        break

Inserted chunk 100000 in 6.7281835079193115
Inserted chunk 200000 in 6.846826553344727
Inserted chunk 300000 in 6.755830764770508
Inserted chunk 400000 in 6.446726083755493
Inserted chunk 500000 in 6.688424587249756
Inserted chunk 600000 in 6.365636825561523
Inserted chunk 700000 in 6.654552936553955
Inserted chunk 800000 in 6.78568696975708
Inserted chunk 900000 in 6.7562642097473145
Inserted chunk 1000000 in 6.736889362335205
Inserted chunk 1100000 in 6.666812419891357
Inserted chunk 1200000 in 6.788440942764282
Inserted chunk 1300000 in 6.583093881607056
Inserted chunk 1400000 in 6.55877685546875
Inserted chunk 1500000 in 6.565519094467163
Inserted chunk 1600000 in 6.727197170257568
Inserted chunk 1700000 in 6.595022916793823
Completed!

Check postgress db if data is ingested

In [63]:
query = '''
SELECT count(*)
FROM yellow_taxi_data
'''
pd.read_sql(query, con=engine)

     count
0  2463931

Next step is to convert this script into a py file to put in the pipeline

In [10]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.8.8.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : AMD64 Family 25 Model 33 Stepping 0, AuthenticAMD
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United Kingdom.1252

pandas           : 1.2.4
numpy            : 1.20.1
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 22.2.2
setuptools       : 52.0.0.post20210125
Cython           : 0.29.23
pytest           : 6.2.3
hypothesis       : 6.42.2
sphinx           : 4.0.1
blosc            : None
feather          : None
xlsxwriter       : 1.3.8
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : 2.9.3 (dt dec pq3 ext lo64)
jinja2           : 2.11.3
IPython          : 7.22.0
pandas_datareader: None
bs4              : 4.9.3
bottleneck       : 1.3.2
fsspec           : 0.9.0
fastparquet      : 0.8.1
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.7
pandas_gbq       : None
pyarrow          : 9.0.0
pyxlsb           : None
s3fs             : None
scipy            : 1.6.2
sqlalchemy       : 1.4.7
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.53.1